<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>研討會簡介｜毎日大學 竹橋研討會</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="header">
		<!-- ▼標題 -->
		<h1><a href="index.html">毎日大學　竹橋研討會</a></h1>
		<!-- ▼文案 -->
		<p class="copy">TAKEBASHI Seminar at  MAINICHI University.</p>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="about.html">研討會簡介</a></li>
			<li id="navi_03"><a href="profile.html">教授介紹</a></li>
			<li id="navi_04"><a href="works.html">專案介紹</a></li>
			<li id="navi_05"><a href="link.html">外部連結</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
	</div>
	<div id="contents">
		<!-- ▼內容標題 -->
		<h2>研討會簡介</h2>
		<!-- ▼▼文字1從此開始▼▼ -->
		<div class="sentence">
			<h3>竹橋研討會是什麼？</h3>
			<p class="text">毎日大學的竹橋研討會主要的調查項目為數位裝置的使用者方便性。<br />
			竹橋研討會至今已成立達10年之久，目前共有3年級與4年級生約20名參加。<br />
			2011年所從事的專案裡，除了有教授發起的研究主題之外，同時還有學生提出的專案以及產學合作的專案，現況可說是百花齊放。</p>
		</div>
		<!-- ▲▲文字1到此為止▲▲ -->
		<!-- ▼▼文字2從此開始▼▼ -->
		<div class="sentence">
			<h3>研討會活動</h3>
			<p class="text">學生在參加研討會之前，必須先提出報告，才能根據報告內容決定指導教授。<br />
			我們採取小組制、以研習會與回饋檢討會的方式進行討論與研究。<br />
			秋季也將參訪企業，藉此取得多方意見。<br />
			在舉辦開放討論會之前，必須提出一定的成果，而在開放討論會當天則進行成果發表與質詢問答。</p>
		</div>
		<!-- ▲▲文字2到此為止▲▲ -->
		<!-- ▼▼文字3從此開始▼▼ -->
		<div class="sentence">
			<h3>新生募集方案</h3>
			<p class="text">竹橋研討會正在召募明年的新生。召募條件將在2月公布於研究室前。<br />
			如果報名人數過多，將以報告內容作為召募標準。</p>
		</div>
		<!-- ▲▲文字3到此為止▲▲ -->		
		<!-- ▼▼文字欄位從此開始▼▼ -->
		<div class="sentence_box">
			<h3>來自竹橋教授的話</h3>
			<p class="text">雖然我們身邊充滿了數位裝置，同時也體驗了這些裝置的進化，但這些數位裝置卻非簡單的研究主題。<br />
			但的確是相當有趣的研究。由於研究對象仍持續進化，因此誰也無法為這樣的研究作出結論。<br />
			這些數位裝置的的確確地與我們的生活緊密結合。對年輕的學生而言，應該更有如此深刻的體會才對。<br />
			請大家積極地從事這方面的研究，或許未來有一天，你將得到前所未有的研究成果。</p>
		</div>
		<!-- ▲▲文字欄位到此為止▲▲ -->
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Takebashi Seminar. All rights reserved.</address>
	</div>
</body>
</html>
