<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>毎日大學 竹橋研討會</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_01">
	<div id="header">
		<!-- ▼標題 -->
		<h1><a href="index.html">毎日大學　竹橋研討會</a></h1>
		<!-- ▼文案 -->
		<p class="copy">TAKEBASHI Seminar at  MAINICHI University.</p>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="about.html">研討會簡介</a></li>
			<li id="navi_03"><a href="profile.html">教授介紹</a></li>
			<li id="navi_04"><a href="works.html">專案介紹</a></li>
			<li id="navi_05"><a href="link.html">外部連結</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
	</div>
	<div id="contents">
		<div id="main" class="clearfix">
			<!-- ▼▼主區塊從此開始▼▼ -->
			<p class="photo"><img src="img/main.jpg" width="300" height="200" alt="竹橋研討會 照片" /></p>
			<h2>毎日大學　竹橋研討會為何？</h2>
			<p class="text">毎日大學的竹橋研討會主要的調查項目為數位裝置的使用者方便性。希望對手機以及智慧型手機的介面有興趣的同學，可以參加本研討會。</p>
			<p class="btn_more"><a href="about.html"><span>詳情請點選此處</span></a></p>
			<!-- ▲▲主區塊到此為止▲▲ -->
		</div>
		<!-- ▼▼列表欄從此開始▼▼ -->
		<div class="data_box">
			<h3>學生公告</h3>
			<dl>
				<dt>2011年9月21日</dt>
				<dd>本日停課。25號為補課日。</dd>
				<dt>2011年9月19日</dt>
				<dd>準備舉辦研討會內部發表，請同學提早準備。</dd>
				<dt>2011年8月10日</dt>
				<dd>即將舉辦研討會研習營。詳情將以電子郵件通知。</dd>
				<dt>2011年7月14日</dt>
				<dd><a href="works.html">專案簡介</a>更新了。</dd>
				<dt>2011年6月23日</dt>
				<dd><a href="link.html">外部連結裡</a>新增了竹橋教授的部落格。</dd>
				<dt>2011年6月20日</dt>
				<dd>網站開幕了。</dd>
			</dl>
		</div>
		<!-- ▲▲列表欄到此為止▲▲ -->
		<ul id="pickup" class="clearfix">
			<!-- ▼▼重點訊息1從此開始▼▼ -->
			<li class="first">
				<h3><a href="about.html">研討會簡介</a></h3>
				<p class="text">毎日大學　竹橋研討會概要以及<br />
				如何召募新生</p>
			</li>
			<!-- ▲▲重點訊息1到此為止▲▲ -->
			<!-- ▼▼重點訊息2從此開始▼▼ -->
			<li>
				<h3><a href="profile.html">教授簡介</a></h3>
				<p class="text">竹橋義男教授的訊息以及<br />
				簡介。</p>
			</li>
			<!-- ▲▲重點訊息2到此為止▲▲ -->
			<!-- ▼▼重點訊息3從此開始▼▼ -->
			<li class="first">
				<h3><a href="works.html">專案介紹</a></h3>
				<p class="text">主要是竹橋研討會正在研究的<br />
				研究專案介紹。</p>
			</li>
			<!-- ▲▲重點訊息3到此為止▲▲ -->
			<!-- ▼▼重點訊息4從此開始▼▼ -->
			<li>
				<h3><a href="link.html">外部連結</a></h3>
				<p class="text">大學與內部成員的部落格、<br />
				有助研究的外部連結。</p>
			</li>
			<!-- ▲▲重點訊息4到此為止▲▲ -->
		</ul>
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Takebashi Seminar. All rights reserved.</address>
	</div>
</body>
</html>
