<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>外部連結｜毎日大學 竹橋研討會</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="header">
		<!-- ▼標題 -->
		<h1><a href="index.html">毎日大學　竹橋研討會</a></h1>
		<!-- ▼文案 -->
		<p class="copy">TAKEBASHI Seminar at  MAINICHI University.</p>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="about.html">研討會簡介</a></li>
			<li id="navi_03"><a href="profile.html">教授介紹</a></li>
			<li id="navi_04"><a href="works.html">專案介紹</a></li>
			<li id="navi_05"><a href="link.html">外部連結</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
	</div>
	<div id="contents">
		<!-- ▼內容標題 -->
		<h2>外部連結</h2>
		<!-- ▼▼列表欄1從此開始▼▼ -->
		<div class="link_box">
			<h3>大學相關網站</h3>
			<ul>
				<li>
					<h4><a href="#">毎日大學 MAINICHI university 官方網站</a></h4>
					<p class="text">這裡是毎日大學的官方網站。如學生生活有困難，請參考本網站。<br />
					因天候而停課的資訊也請參考本網站。</p>
				</li>
				<li>
					<h4><a href="#">竹橋教授的部落格</a></h4>
					<p class="text">竹橋義男教授的專屬部落格。研修生請務必閱讀。<br />
					部落格每天持續更新中。</p>
				</li>
				<li>
					<h4><a href="#">媒體與藝術研討會的官方網站</a></h4>
					<p class="text">每日大學的媒體與藝術研討會與我們的研究主題十分相近。這裡是該研討會的網站。<br />
					研究內容相當有趣。</p>
				</li>
			</ul>
		</div>
		<!-- ▲▲列表欄1到此為止▲▲ -->
		<!-- ▼▼列表欄2從此開始▼▼ -->
		<div class="link_box">
			<h3>研究参考網站</h3>
			<ul>
				<li>
					<h4><a href="#">智慧型手機 Fun Site</a></h4>
					<p class="text">喜歡智慧型手機的應用程式與操作介面的人所建立的網站。<br />
					資訊量絕對超乎您的想像。</p>
				</li>
				<li>
					<h4><a href="#">daily digital news</a></h4>
					<p class="text">每天不斷更新各種數位資訊的外國網站。<br />
					除了可以練習英文之外，建議研修生每天瀏覽該網站。也可透過智慧型手機的程式直接瀏覽。</p>
				</li>
			</ul>
		</div>
		<!-- ▲▲列表欄2到此為止▲▲ -->
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Takebashi Seminar. All rights reserved.</address>
	</div>
</body>
</html>
