<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>教授簡介｜毎日大學 竹橋ゼミナール</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_03">
	<div id="header">
		<!-- ▼標題 -->
		<h1><a href="index.html">毎日大學　竹橋ゼミナール</a></h1>
		<!-- ▼文案 -->
		<p class="copy">TAKEBASHI Seminar at  MAINICHI University.</p>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="about.html">研討會簡介</a></li>
			<li id="navi_03"><a href="profile.html">教授介紹</a></li>
			<li id="navi_04"><a href="works.html">專案介紹</a></li>
			<li id="navi_05"><a href="link.html">外部連結</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
	</div>
	<div id="contents">
		<!-- ▼內容標題 -->
		<h2>教授簡介</h2>
		<!-- ▼▼列表欄1從此開始▼▼ -->
		<div class="data_box">
			<h3>簡介</h3>
			<dl>
				<dt>本名</dt>
				<dd>竹橋義男</dd>
				<dt>出生年月日</dt>
				<dd>1972年12月18日</dd>
				<dt>血型</dt>
				<dd>AB型</dd>
				<dt>戶籍</dt>
				<dd>神奈川縣川崎市</dd>
				<dt>畢業大學</dt>
				<dd>毎日大學研究所媒體研究組碩士學分修畢</dd>
			</dl>
		</div>
		<!-- ▲▲列表欄1到此為止▲▲ -->
		<!-- ▼▼列表欄2從此開始▼▼ -->
		<div class="data_box">
			<h3>簡歴</h3>
			<dl>
				<dt>1972年12月</dt>
				<dd>出生於神奈川縣横濱市。</dd>
				<dt>1990年4月</dt>
				<dd>毎日高中畢業。同年毎日大學入學。</dd>
				<dt>1994年4月</dt>
				<dd>毎日大學畢業。同年毎日大學研究所入學。</dd>
				<dt>2002年8月</dt>
				<dd>毎日大學媒體研究組助理教授</dd>
				<dt>2005年4月</dt>
				<dd>毎日大學媒體研究組教授</dd>
				<dt>2008年7月</dt>
				<dd>著作・數位介面的歷史</dd>
				<dt>2011年6月</dt>
				<dd>著作・數位介面的歷史2</dd>
			</dl>
		</div>
		<!-- ▲▲列表欄2到此為止▲▲ -->
		<!-- ▼聯絡方式 -->
		<p class="contact">教授的聯絡方式如下：　<strong>contact@xxxx.xxx</strong></p>
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Takebashi Seminar. All rights reserved.</address>
	</div>
</body>
</html>
