<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Natural Flower House</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Natural Flower House" /></a></h1>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="news.html">News</a></li>
				<li id="navi_03"><a href="concept.html">Concept</a></li>
				<li id="navi_04"><a href="products.html">Products</a></li>
				<li id="navi_05"><a href="shop.html">Shop info</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<!-- ▼文案 -->
			<p class="copy">專門提供季節性花草。同時提供婚禮花籃・花飾的服務。</p>
		</div>
		<div id="contents">
			<div id="title">
				<!-- ▼內容標題 -->
				<h2>Products</h2>
				<!-- ▼內容說明 -->
				<p class="copy">Natural Flower House店面花品介紹。</p>
			</div>
			<!-- ▼▼概念從此開始▼▼ -->
			<div id="concept_text">
				<p>Natural Flower House可為您量身打造一個充滿花意的生活態度。</p>
				<p>一開始先以盛開的花朵裝飾餐桌與寢室如何？</p>
				<p>花與音樂十分相似。<br />
				總在不知不覺中，讓空間更為豐富，也為房間營造更美的氛圍。</p>
				<p>Natural Flower House不僅銷售花品，更提供您不同的生活方式。</p>
				<p>我們也不定期地舉辦各種招待會與花藝課程。</p>
				<p>今年開始提供花籃與花飾的預訂，歡迎隨時來電洽詢。</p>
				<!-- ▲▲概念到此為止▲▲ -->
			</div>
			<!-- ▼概念照片 -->
			<p id="concept_img"><img src="img/concept_01.jpg" width="360" height="430" alt="花的照片" /></p>
			<div id="prof">
				<p><img src="components/img/prof_header.png" width="800" height="10" alt="" /></p>
				<div id="prof_contents">
					<!-- ▼規格照片 -->
					<p id="prof_img"><img src="img/concept_02.jpg" width="150" height="150" alt="規格照片" /></p>
					<div id="prof_text">
						<!-- ▼規格標題 -->
						<h3>主要訊息</h3>
						<!-- ▼▼規格內容從此開始▼▼ -->
						<p>Natural Flower House至今已經營達12年之久，感謝長期以來各位顧客的支持。<br />
						社會隨時在改變，生活方式也漸趨多元。 <br />
						我們也想透過花朵提供嶄新的生活方式。<br />
						希望從此之後有更多的人了解花朵的樂趣。</p>
						<!-- ▲▲規格內容到此為止▲▲ -->
					</div>
				</div>
				<p id="prof_footer"><img src="components/img/prof_footer.png" width="800" height="10" alt="" /></p>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/contents_footer.png" width="870" height="20" alt="" /></p>
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Natural Flower House. All rights reserved.</address>
	</div>
</body>
</html>
