<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Natural Flower House</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Natural Flower House" /></a></h1>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="news.html">News</a></li>
				<li id="navi_03"><a href="concept.html">Concept</a></li>
				<li id="navi_04"><a href="products.html">Products</a></li>
				<li id="navi_05"><a href="shop.html">Shop info</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<!-- ▼文案 -->
			<p class="copy">專門提供季節性花草。同時提供婚禮花籃・花飾的服務。</p>
		</div>
		<ul id="main">
				<!-- ▼▼主圖從此開始▼▼ -->
				<li id="main_01"><img src="img/main_01.jpg" width="490" height="360" alt="主圖1" /></li>
				<li id="main_02"><img src="img/main_02.jpg" width="330" height="190" alt="主圖2" /></li>
				<li id="main_03"><img src="img/main_03.jpg" width="160" height="160" alt="主圖3" /></li>
				<li id="main_04"><img src="img/main_04.jpg" width="160" height="160" alt="主圖4" /></li>
				<!-- ▲▲主圖到此為止▲▲ -->
			</ul>
		<div id="contents">
			<div id="info">
				<!-- ▼網站公告標題 -->
				<h2>Information</h2>
				<dl class="clearfix">
					<!-- ▼▼網站公告從此開始▼▼ -->
					<dt>2011.09.21</dt>
					<dd>婚禮花籃與花飾的活動展開了。詳情請見<a href="news.html">News</a>。</dd>
					<dt>2011.09.20</dt>
					<dd>店裡已採購許多美麗的春季花朵<br />
					<a href="products.html">Products</a>請見此處的詳細介紹。</dd>
					<dt>2011.09.19</dt>
					<dd><a href="shop.html">店舖資訊</a>已更新。</dd>
					<!-- ▲▲網站公告到此為止▲▲ -->
				</dl>
			</div>
			<div id="pickup">
				<!-- ▼重點商品標題 -->
				<h2>Pick Up Contents</h2>
				<ul class="clearfix">
					<li class="pickup_01">
						<p><img src="components/img/pickup_header.png" width="240" height="10" alt="" /></p>
						<div class="pickup_contents">
						<!-- ▼▼重點商品1從此開始▼▼ -->
							<p><a href="products.html"><img src="img/pickup_01.jpg" width="210" height="120" alt="鈴蘭的花籃" /></a></p>
							<h3>鈴蘭的花籃</h3>
							<p class="text">鈴藍常被喻為帶來幸福的花朵。鈴蘭的花籃也常被當成禮物。</p>
							<p class="btn_more"><a href="products.html"><img src="components/img/btn_more.png" width="50" height="17" alt="More" /></a></p>
						<!-- ▲▲重點商品1到此為止▲▲ -->
						</div>
						<p><img src="components/img/pickup_footer.png" width="240" height="10" alt="" /></p>
					</li>
					<li class="pickup_02">
						<p><img src="components/img/pickup_header.png" width="240" height="10" alt="" /></p>
						<div class="pickup_contents">
						<!-- ▼▼重點商品2從此開始▼▼ -->
							<p><a href="products.html"><img src="img/pickup_02.jpg" width="210" height="120" alt="春之饗宴" /></a></p>
							<h3>春之饗宴</h3>
						<p class="text">鬱金香的花飾將營造田野的清新氛圍</p>
						<p class="btn_more"><a href="products.html"><img src="components/img/btn_more.png" width="50" height="17" alt="More" /></a></p>
						<!-- ▲▲重點商品2到此為止▲▲ -->
						</div>
						<p><img src="components/img/pickup_footer.png" width="240" height="10" alt="" /></p>
					</li>
				</ul>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/contents_footer.png" width="870" height="20" alt="" /></p>
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Natural Flower House. All rights reserved.</address>
	</div>
</body>
</html>
