<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Shop Info｜Natural Flower House</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Natural Flower House" /></a></h1>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="news.html">News</a></li>
				<li id="navi_03"><a href="concept.html">Concept</a></li>
				<li id="navi_04"><a href="products.html">Products</a></li>
				<li id="navi_05"><a href="shop.html">Shop info</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<!-- ▼文案 -->
			<p class="copy">專門提供季節性花草。同時提供婚禮花籃・花飾的服務。</p>
		</div>
		<div id="contents">
			<div id="title">
				<!-- ▼內容標題 -->
				<h2>Shop Info</h2>
				<!-- ▼內容說明 -->
				<p class="copy">Natural Flower House的店舗導覽。</p>
			</div>
			<div id="shop">
				<dl id="shop_info">
					<!-- ▼▼店舖資訊從此開始▼▼ -->
					<dt>店名</dt>
					<dd>Natural Flower House</dd>
					<dt>TEL</dt>
					<dd>00-0000-0000</dd>
					<dt>FAX</dt>
					<dd>00-0000-0000</dd>
					<dt>E-Mail</dt>
					<dd>contact@xxxx.xxx</dd>
					<dt>地址</dt>
					<dd>〒100-0003<br />
					千代田區一之橋1-1-1</dd>
					<dt>營業時間</dt>
					<dd>10:00～21:00</dd>
					<dt>例假日</dt>
					<dd>星期三<br />
					若因故休息，將於News頁面裡公告。</dd>
					<!-- ▲▲店舖資訊到此為止▲▲ -->
				</dl>
				<!-- ▼地圖 -->
				<p id="shop_info_img"><img src="img/shop_01.jpg" width="360" height="420" alt="地圖" /></p>
				<ul id="shop_img">
					<!-- ▼▼店舖形象從此開始▼▼ -->
					<li><img src="img/shop_02.jpg" width="250" height="170" alt="花照片1" /></li>
					<li><img src="img/shop_03.jpg" width="250" height="170" alt="花照片2" /></li>
					<li><img src="img/shop_04.jpg" width="250" height="170" alt="花照片3" /></li>
					<!-- ▲▲店舖形象到此為止▲▲ -->
				</ul>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/contents_footer.png" width="870" height="20" alt="" /></p>
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Natural Flower House. All rights reserved.</address>
	</div>
</body>
</html>
