<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>專案介紹｜毎日大學 竹橋研討會</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_04">
	<div id="header">
		<!-- ▼タイトル -->
		<h1><a href="index.html">毎日大學　竹橋研討會</a></h1>
		<!-- ▼文案 -->
		<p class="copy">TAKEBASHI Seminar at  MAINICHI University.</p>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="about.html">研討會簡介</a></li>
			<li id="navi_03"><a href="profile.html">教授介紹</a></li>
			<li id="navi_04"><a href="works.html">專案介紹</a></li>
			<li id="navi_05"><a href="link.html">外部連結</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
	</div>
	<div id="contents">
		<!-- ▼內容標題 -->
		<h2>專案介紹</h2>
		<!-- ▼▼文字&圖片欄1從此開始▼▼ -->
		<div class="detail_box clearfix">
			<p class="photo"><img src="img/works_01.jpg" width="300" height="200" alt="智慧型手機所改變的未來專案 照片" /></p>
			<h3>智慧型手機所改變的未來專案</h3>
			<p class="text">之前仍以商業用途為主的智慧型手機，如今已結合了音樂播放、遊樂器等功能，而且其充滿時尚感的操作介面，深深地打動了男女老幼每一個人的心。<br />
			我們一直在研究的是最熱門的智慧型手機。</p>
		</div>
		<!-- ▲▲文字&圖片欄1到此為止▲▲ -->
		<!-- ▼▼文字&圖片欄2從此開始▼▼ -->
		<div class="detail_box clearfix">
			<p class="photo"><img src="img/works_02.jpg" width="300" height="200" alt="電子書介面研究專案 照片" /></p>
			<h3>電子書介面研究專案</h3>
			<p class="text">在美國慢慢變得流行的電子書。<br />
			日本仍處於電子書的摸索階段，而閱讀器的介面也仍是五花八門的階段。<br />
			電子書的未來將進化成何種模樣呢。<br />
			這真是目前最值得研究的主題。</p>
		</div>
		<!-- ▲▲文字&圖片欄2到此為止▲▲ -->
		<!-- ▼▼テキスト＆画像ボックス3從此開始▼▼ -->
		<div class="detail_box clearfix">
			<p class="photo"><img src="img/works_03.jpg" width="300" height="200" alt="手機的歷史專案 照片" /></p>
			<h3>手機的歷史專案</h3>
			<p class="text">這幾年手機出現了許多令人目不睱給的進化。<br />
			從適合年輕人的手機，到兒童用手機、老年人手機，各種不同的機種如煙火一般出現而瞬間消失。<br />
			這個專案大膽地以非智慧型手機的手機為研究主題。</p>
		</div>
		<!-- ▲▲文字&圖片欄3到此為止▲▲ -->
	</div>
	<div id="footer">
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Takebashi Seminar. All rights reserved.</address>
	</div>
</body>
</html>
