<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>概念｜ORGANIC LIFE STORE</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_03">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="ORGANIC LIFE STORE" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy"><span>全國共16處營業據點，專門提供嚴選有機蔬菜。</span></p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">最新訊息</a></li>
			<li id="navi_03"><a href="concept.html">網站概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖導覽</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/main_header.png" width="870" height="10" alt="" /></p>
			<div id="contents_inner">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>概念</h2>
					<!-- ▼內容說明 -->
					<p class="copy">ORGANIC LIFE STOREの概念。</p>
				</div>
				<div id="concept">
					<div id="concept_text">
						<!-- ▼▼概念從此開始▼▼ -->
						<p>我們的理念是與自然共存，生產與銷售對環境不造成負擔的有機蔬菜。</p>
						<p>有機蔬菜的特徵就是不會對環境造成破壞，自然也不會對身體造成負擔，也因此讓我們有機會品嘗真正的自然風味。</p>
						<p>第一次食用有機蔬菜的客人們，口中都說著同樣一句話。</p>
						<p>「現在才吃到如此鮮甜的蘿蔔，真令人有種相見恨晚的感覺」<br />
						「原本不敢吃蕃茄的我也愛上它了」<br />
						「與其淋上醬料，不如直接食用原味來得更爽口」</p>
						<p>能得到這些讚美，不外乎因為客人們吃到了蔬菜那甜美的原味。</p>
						<p>敝店定期舉辦料理研究會與試吃活動，請您有機會務必來店參加。</p>
						<p>您不妨試著在餐桌擺上幾盤有機蔬菜吧。</p>
						<!-- ▲▲概念到此為止▲▲ -->
					</div>
					<!-- ▼大型概念照片 -->
					<p id="concept_img"><img src="img/concept_01.jpg" width="360" height="430" alt="農田照片" /></p>
					<ul id="concept_photos" class="clearfix">
						<!-- ▼▼小型概念照片▼▼ -->
						<li class="photo"><img src="img/concept_02.jpg" width="260" height="180" alt="葉菜類照片" /></li>
						<li class="photo"><img src="img/concept_03.jpg" width="260" height="180" alt="蕃茄照片" /></li>
						<li><img src="img/concept_04.jpg" width="260" height="180" alt="玉米照片" /></li>
						<!-- ▲▲小型概念照片到此為止▲▲ -->
					</ul>
				</div>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/main_footer.png" width="870" height="10" alt="" /></p>
		<div id="footer">
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 ORGANIC LIFE STORE. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
