<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>最新資訊｜ORGANIC LIFE STORE</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="ORGANIC LIFE STORE" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy"><span>全國共16處營業據點，專門提供嚴選有機蔬菜。</span></p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">最新訊息</a></li>
			<li id="navi_03"><a href="concept.html">網站概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖導覽</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/main_header.png" width="870" height="10" alt="" /></p>
			<div id="contents_inner">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>最新資訊</h2>
					<!-- ▼內容說明 -->
					<p class="copy">ORGANIC LIFE STORE的最新資訊</p>
				</div>
				<ul id="news">
					<!-- ▼▼新聞1從此開始▼▼ -->
					<li>
						<h3>料理研究會的公告</h3>
						<p class="date">2011.09.21</p>
						<p class="text">11月21日我們請來料理研究家・毎日陽子老師，教我們如何料理有機蔬菜。<br />
						依照慣例，研究會詳細內容請見網站公告。</p>
					</li>
					<!-- ▲▲新聞1到此為止▲▲ -->
					<!-- ▼▼新聞2從此開始▼▼ -->
					<li>
						<h3>人力招募公告</h3>
						<p class="date">2011.09.20</p>
						<p class="text">ORGANIC LIFE STORE人力招募。這次招募的是櫃台人員。<br />
						我們徵求的是個性開朗樂觀、喜好大自然的人。意者請洽本店服務人員。</p>
					</li>
					<!-- ▲▲新聞2到此為止▲▲ -->
					<!-- ▼▼新聞3從此開始▼▼ -->
					<li>
						<h3>季節性蔬菜上市</h3>
						<p class="date">2011.09.19</p>
						<p class="text">本店採購了富有季節色彩的蔬菜。詳情請見商品介紹網頁。　<a href="products.html">商品介紹請點選此處</a></p>
					</li>
					<!-- ▲▲新聞3到此為止▲▲ -->
					<!-- ▼▼新聞4從此開始▼▼ -->
					<li>
						<h3>店址遷移公告</h3>
						<p class="date">2011.09.18</p>
						<p class="text">ORGANIC LIFE STORE店址遷移了。<br />
						新的店址與地圖請見本店導覽網頁。　<a href="shop.html">店舗導覽請點選此處</a></p>
					</li>
					<!-- ▲▲新聞4到此為止▲▲ -->
					<!-- ▼▼新聞5從此開始▼▼ -->
					<li>
						<h3>採購了綠蕃茄！</h3>
						<p class="date">2011.09.17</p>
						<p class="text">回味無窮的綠蕃茄！今年也登場囉！<br />
						建議您作成口味單純的沙拉食用。詳情請見商品介紹網頁。　<a href="products.html">商品介紹請點選此處</a></p>
					</li>
					<!-- ▲▲新聞5到此為止▲▲ -->
					<!-- ▼▼新聞6從此開始▼▼ -->
					<li>
						<h3>營業時間變更公告</h3>
						<p class="date">2011.09.16</p>
						<p class="text">9月20日～24日之間、本店進行店面改裝，營業時間縮短至10:00～20:00。<br />
						若有不便之處，還望各位顧客見諒。</p>
					</li>
					<!-- ▲▲新聞6到此為止▲▲ -->
				</ul>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/main_footer.png" width="870" height="10" alt="" /></p>
		<div id="footer">
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 ORGANIC LIFE STORE. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
