<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>店舖導覽｜ORGANIC LIFE STORE</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="ORGANIC LIFE STORE" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy"><span>全國共16處營業據點，專門提供嚴選有機蔬菜。</span></p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">最新訊息</a></li>
			<li id="navi_03"><a href="concept.html">網站概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖導覽</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/main_header.png" width="870" height="10" alt="" /></p>
			<div id="contents_inner">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>店舗導覽</h2>
					<!-- ▼內容說明 -->
					<p class="copy">ORGANIC LIFE STORE的店舗導覽。</p>
				</div>
				<div id="shop" class="clearfix">
					<dl id="shop_info">
						<!-- ▼▼店舖資訊從此開始▼▼ -->
						<dt>店名</dt>
						<dd>ORGANIC LIFE STORE</dd>
						<dt>TEL</dt>
						<dd>00-0000-0000</dd>
						<dt>FAX</dt>
						<dd>00-0000-0000</dd>
						<dt>E-Mail</dt>
						<dd>contact@xxxx.xxx</dd>
						<dt>地址</dt>
						<dd>〒100-0003<br />
						千代田區一之橋1-1-1<br />
						ORGANIC LIFE STORE</dd>
						<dt>營業時間</dt>
						<dd>10:00～21:00<br />
						（夏季將有所變更）</dd>
						<dt>例假日</dt>
						<dd>星期三<br />
						若因故休息，將於最新資訊網頁上公告。</dd>
						<!-- ▲▲店舖資訊到此為止▲▲ -->
					</dl>
					<ul id="shop_info_img">
						<!-- ▼店舖形象 -->
						<li><img src="img/shop_01.jpg" width="400" height="280" alt="店内照片" /></li>
						<!-- ▼地圖 -->
						<li><img src="img/shop_02.jpg" width="400" height="280" alt="地圖" /></li>
					</ul>
				</div>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/main_footer.png" width="870" height="10" alt="" /></p>
		<div id="footer">
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 ORGANIC LIFE STORE. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
