<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>商品介紹｜SWEET SWEETS DAYS</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_04">
	<div id="wrap">
		<div id="header" class="clearfix">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="SWEET SWEETS DAYS" /></a></h1>
			<div id="header_info">
				<!-- ▼線上客服 -->
				<p id="contact"><strong>Tel</strong> 03-1234-5678　
				<strong>E-Mail</strong> contact@sweets.net</p>
				<!-- ▼文案 -->
				<p class="copy">季節性水果甜點的外帶專門店</p>
			</div>
		</div>
		<ul id="navi" class="clearfix">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖資訊</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="main_area">
			<div id="title">
				<!-- ▼內容標題 -->
				<h2>商品介紹</h2>
				<!-- ▼內容說明 -->
				<p class="copy">向您介紹本店的熱賣甜點。</p>
			</div>
			<div id="products" class="clearfix">
				<div id="products_navi">
					<!-- ▼網站地圖標題 -->
					<h2>Category</h2>
					<ul>
						<!-- ▼▼網站地圖從此開始▼▼ -->
						<li><a href="#cat_01">季節性甜點</a></li>
						<li><a href="#cat_02">經典甜點</a></li>
						<li><a href="#cat_03">草莓類的甜點</a></li>
						<li><a href="#cat_04">布丁</a></li>
						<li><a href="#cat_05">禮物．慶祝</a></li>
						<!-- ▲▲網站地圖到此為止▲▲ -->
					</ul>
				</div>
				<div id="products_contents">
					<ul>
						<!-- ▼▼分類1從此開始▼▼ -->
						<li id="cat_01">
							<h2>季節性甜點</h2>
							<ul>
								<!-- ▼▼商品1從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_01.jpg" width="260" height="180" alt="草莓水果塔 照片" /></p>
									<h3>使用大顆草莓的水果塔</h3>
									<p class="text">經典草莓水果塔<br />
									變大了！</p>
									<p class="price">550元</p>
								</li>
								<!-- ▲▲商品1到此為止▲▲ -->
								<!-- ▼▼商品2從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_02.jpg" width="260" height="180" alt="超豪華水果塔 照片" /></p>
									<h3>超豪華水果塔</h3>
									<p class="text">不惜成本地使用春季～夏季水果<br />
									、是一道超奢侈的水果甜點。</p>
									<p class="price">550元</p>
								</li>
								<!-- ▲▲商品2到此為止▲▲ -->
							</ul>
							<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
						</li>
						<!-- ▲▲分類1到此為止▲▲ -->
						<!-- ▼▼分類2從此開始▼▼ -->
						<li id="cat_02">
							<h2>經典甜點</h2>
							<ul>
								<!-- ▼▼商品1從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_03.jpg" width="260" height="180" alt="芒果水果塔 照片" /></p>
									<h3>芒果水果塔</h3>
									<p class="text">大量地使用了新鮮芒果。</p>
									<p class="price">550元</p>
								</li>
								<!-- ▲▲商品1到此為止▲▲ -->
							</ul>
							<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
						</li>
						<!-- ▲▲分類2到此為止▲▲ -->
						<!-- ▼▼分類3從此開始▼▼ -->
						<li id="cat_03">
							<h2>草莓類的甜點</h2>
							<ul>
								<!-- ▼▼商品1從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_04.jpg" width="260" height="180" alt="草莓蛋糕 照片" /></p>
									<h3>草莓蛋糕</h3>
									<p class="text">生奶油與草莓堪稱天生一對的絕配！</p>
									<p class="price">450元</p>
								</li>
								<!-- ▲▲商品1到此為止▲▲ -->
								<!-- ▼▼商品2從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_05.jpg" width="260" height="180" alt="草莓水果塔 照片" /></p>
									<h3>草莓水果塔</h3>
									<p class="text">超人氣！<br />
									堪稱本店招牌的草莓水果塔。</p>
									<p class="price">450元</p>
								</li>
								<!-- ▲▲商品2到此為止▲▲ -->
							</ul>
							<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
						</li>
						<!-- ▲▲分類3到此為止▲▲ -->
						<!-- ▼▼分類4從此開始▼▼ -->
						<li id="cat_04">
							<h2>布丁</h2>
							<ul>
								<!-- ▼▼商品1從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_06.jpg" width="260" height="180" alt="焦糖布丁 照片" /></p>
									<h3>焦糖布丁</h3>
									<p class="text">懷舊而溫柔滋味的焦糖布丁<br />
									焦糖布丁。</p>
									<p class="price">300元</p>
								</li>
								<!-- ▲▲商品1到此為止▲▲ -->
							</ul>
							<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
						</li>
						<!-- ▲▲分類4到此為止▲▲ -->
						<!-- ▼▼分類5從此開始▼▼ -->
						<li id="cat_05">
							<h2>禮物・慶祝</h2>
							<ul>
								<!-- ▼▼商品1從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_07.jpg" width="260" height="180" alt="花朵蛋糕 照片" /></p>
									<h3>花朵蛋糕</h3>
									<p class="text">最適合用來慶祝！<br />
									在蛋糕上裝飾花朵。</p>
									<p class="price">2,300元</p>
								</li>
								<!-- ▲▲商品1到此為止▲▲ -->
								<!-- ▼▼商品2從此開始▼▼ -->
								<li class="clearfix">
									<p class="photo"><img src="img/products_08.jpg" width="260" height="180" alt="粉蠟馬卡龍 照片" /></p>
									<h3>粉蠟馬卡龍</h3>
									<p class="text">粉蠟色的可愛馬卡龍。<br />
									送禮自用兩相宜。</p>
									<p class="price">1,200元</p>
								</li>
								<!-- ▲▲商品2到此為止▲▲ -->
							</ul>
							<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
						</li>
						<!-- ▲▲分類5到此為止▲▲ -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 SWEET SWEETS DAYS. All rights reserved.</address>
</body>
</html>
