<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Concept｜Brown Bakery</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_03">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Brown Bakery" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">堅持以最好的食材為您製作最好吃的麵包。</p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">Home</a></li>
			<li id="navi_02"><a href="news.html">News</a></li>
			<li id="navi_03"><a href="concept.html">Concept</a></li>
			<li id="navi_04"><a href="menu.html">Menu</a></li>
			<li id="navi_05"><a href="shop.html">Shop</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents" class="clearfix">
			<div id="title" class="clearfix">
				<!-- ▼內容標題 -->
				<h2>Concept</h2>
				<!-- ▼內容説明 -->
				<p class="copy">Brown Bakery的堅持。</p>
			</div>
			<div id="concept">
				<div id="concept_text">
					<!-- ▼▼概念從此開始▼▼ -->
					<p>本店從1990年開店以來，就堅持用好食材製作好麵包。持續使用無任何添加的國產小麥與嚴選素材製作衛生可口的麵包。</p>
					<p>我們使用當令的水果與蔬菜製作「季節性麵包」，讓每一位顧客都有機會一嚐最新鮮的味道。</p>
					<p>鈴木店長在巴黎學習了8年的麵包，充份地了解麵包的製作流程。本店採用最道地的法國麵包製法，耗時費工的法國麵包是本店最具賣點的麵包。</p>
					<p>本店吃也不會膩，充份發揮食材原本味道的麵包，請您務必來本店一嘗。</p>
					<!-- ▲▲概念到此為止▲▲ -->
				</div>
				<!-- ▼概念照片大 -->
				<p id="concept_img"><img src="img/concept_01.jpg" width="250" height="330" alt="麵團" /></p>
				<ul id="concept_photos" class="clearfix">
					<!-- ▼▼概念照片小從此開始▼▼ -->
					<li class="photo"><img src="img/concept_02.jpg" width="212" height="155" alt="小麥照片" /></li>
					<li class="photo"><img src="img/concept_03.jpg" width="212" height="155" alt="小麥粉照片" /></li>
					<li><img src="img/concept_04.jpg" width="212" height="155" alt="麵包照片" /></li>
					<!-- ▲▲概念照片小到此為止▲▲ -->
				</ul>
			</div>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Brown Bakely. All rights reserved.</address>
	</div>
</body>
</html>
