<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Brown Bakery</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="components/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="components/js/slide.js"></script>
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Brown Bakery" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">堅持以最好的食材為您製作最好吃的麵包。</p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">Home</a></li>
			<li id="navi_02"><a href="news.html">News</a></li>
			<li id="navi_03"><a href="concept.html">Concept</a></li>
			<li id="navi_04"><a href="menu.html">Menu</a></li>
			<li id="navi_05"><a href="shop.html">Shop</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents" class="clearfix">
			<ul id="main">
				<!-- ▼▼主圖從此開始▼▼ -->
				<li><img src="img/main/main_01.jpg" width="530" height="320" alt="法國麵包" /></li>
				<li><img src="img/main/main_02.jpg" width="530" height="320" alt="土司麵包" /></li>
				<li><img src="img/main/main_03.jpg" width="530" height="320" alt="鮭魚三明治" /></li>
				<!-- ▲▲主圖到此為止▲▲ -->
			</ul>
			<div id="info">
				<!-- ▼網站公告標題 -->
				<h2>Information</h2>
				<dl>
					<!-- ▼▼網站公告從此開始▼▼ -->
					<dt>2011.07.01</dt>
					<dd>夏季蔬菜三明治開始提供。</dd>
					<dt>2011.06.10</dt>
					<dd>本店被<a href="news.html">新聞（早報）</a>報導了。</dd>
					<dt>2011.05.15</dt>
					<dd>菜單新增了<a href="menu.html#cat_03">鄉村法國麵包</a>。</dd>
					<dt>2011.04.01</dt>
					<dd>4月開始早上7點開店！</dd>
					<!-- ▲▲網站公告到此為止▲▲ -->
				</dl>
			</div>
			<div id="pickup_new" class="clearfix">
				<div id="pickup">
					<!-- ▼重點商品標題 -->
					<h2>Pick Up</h2>
					<ul>
						<!-- ▼▼重點商品從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_01"><img src="img/pickup_01.jpg" width="200" height="100" alt="夏季蔬菜三明治" /></a></p>
							<h3><a href="menu.html#cat_01">夏季蔬菜三明治</a></h3>
							<p class="text">大量使用新鮮蕃茄的三明治。</p>
						</li>
						<li>
							<p class="photo"><a href="menu.html#cat_01"><img src="img/pickup_02.jpg" width="200" height="100" alt="使用了起士、巴西里的拖鞋麵包" /></a></p>
							<h3><a href="menu.html#cat_01">使用了起士、巴西里的拖鞋麵包</a></h3>
							<p class="text">適合搭配紅酒一起使用的麵包。</p>
						</li>
						<!-- ▲▲重點商品到此為止▲▲ -->
					</ul>
				</div>
				<div id="new">
					<div id="new_tit">
						<!-- ▼商品列表標題 -->
						<h2>Breads<span>超人氣吐司</span></h2>
						<!-- ▼商品列表説明 -->
					</div>
					<ul>
						<!-- ▼▼商品1從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_03"><img src="img/new_01.jpg" width="80" height="80" alt="法國麵包" /></a></p>
							<h3><a href="menu.html#cat_03">法國麵包</a></h3>
							<p class="text">每天餐桌一定要有的經典法國麵包。</p>
						</li>
						<!-- ▲▲商品1到此為止▲▲ -->
						<!-- ▼▼商品2從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_02"><img src="img/new_02.jpg" width="80" height="80" alt="裸麥的法國麵包" /></a></p>
							<h3><a href="menu.html#cat_02">裸麥的法國麵包</a></h3>
							<p class="text">裸麥的法國麵包。適合抹蜂蜜的麵包。</p>
						</li>
						<!-- ▲▲商品2到此為止▲▲ -->
						<!-- ▼▼商品3從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_03"><img src="img/new_03.jpg" width="80" height="80" alt="水果乾麵包" /></a></p>
							<h3><a href="menu.html#cat_03">水果乾麵包</a></h3>
							<p class="text">採用草莓、葡萄、堅果的裸麥麵包。</p>
						</li>
						<!-- ▲▲商品3到此為止▲▲ -->
						<!-- ▼▼商品4從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_03"><img src="img/new_04.jpg" width="80" height="80" alt="鄉村法國麵包" /></a></p>
							<h3><a href="menu.html#cat_03">鄉村法國麵包</a></h3>
							<p class="text">越嚼越能吃到小麥單純的味道。</p>
						</li>
						<!-- ▲▲商品4到此為止▲▲ -->
						<!-- ▼▼商品5從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_04"><img src="img/new_05.jpg" width="80" height="80" alt="貝果三明治" /></a></p>
							<h3><a href="menu.html#cat_04">貝果三明治</a></h3>
							<p class="text">採用水嫩當令蔬菜的貝果三明治。</p>
						</li>
						<!-- ▲▲商品5到此為止▲▲ -->
						<!-- ▼▼商品6從此開始▼▼ -->
						<li>
							<p class="photo"><a href="menu.html#cat_05"><img src="img/new_06.jpg" width="80" height="80" alt="鮭魚法國麵包" /></a></p>
							<h3><a href="menu.html#cat_05">鮭魚法國麵包</a></h3>
							<p class="text">超大份量的麵包！建議與午餐一起食用。</p>
						</li>
						<!-- ▲▲商品6到此為止▲▲ -->
					</ul>
				</div>
			</div>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Brown Bakely. All rights reserved.</address>
	</div>
</body>
</html>
