<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Menu｜Brown Bakery</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_04">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Brown Bakery" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">堅持以最好的食材為您製作最好吃的麵包。</p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">Home</a></li>
			<li id="navi_02"><a href="news.html">News</a></li>
			<li id="navi_03"><a href="concept.html">Concept</a></li>
			<li id="navi_04"><a href="menu.html">Menu</a></li>
			<li id="navi_05"><a href="shop.html">Shop</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents" class="clearfix">
			<div id="title" class="clearfix">
				<!-- ▼內容標題 -->
				<h2>Menu</h2>
				<!-- ▼內容説明 -->
				<p class="copy">Brown Bakery麵包。</p>
			</div>
			<div id="products" class="clearfix">
			<div id="products_navi">
				<!-- ▼網站地圖標題 -->
				<h2>Category</h2>
				<ul>
					<!-- ▼▼網站地圖從此開始▼▼ -->
					<li><a href="#cat_01">季節性麵包</a></li>
					<li><a href="#cat_02">推薦商品</a></li>
					<li><a href="#cat_03">硬式麵包</a></li>
					<li><a href="#cat_04">貝果</a></li>
					<li><a href="#cat_05">三明治</a></li>
					<!-- ▲▲網站地圖到此為止▲▲ -->
				</ul>
			</div>
			<div id="products_contents">
				<ul>
					<!-- ▼▼分類1從此開始▼▼ -->
					<li id="cat_01">
						<h2>季節性麵包</h2>
						<ul>
							<!-- ▼▼商品1從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_01.jpg" width="212" height="155" alt="夏季蔬菜三明治 照片" /></p>
								<h3>夏季蔬菜三明治</h3>
								<p class="text">夏季限定！<br />
								大量使用新鮮蕃茄的三明治。</p>
								<p class="price">450元</p>
							</li>
							<!-- ▲▲商品1到此為止▲▲ -->
							<!-- ▼▼商品2從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_02.jpg" width="212" height="155" alt="使用起士巴西里的拖鞋麵包 照片" /></p>
								<h3>使用起士巴西里的拖鞋麵包</h3>
								<p class="text">適合搭配紅酒的一道麵包。</p>
								<p class="price">500元</p>
							</li>
							<!-- ▲▲商品2到此為止▲▲ -->
						</ul>
						<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
					</li>
					<!-- ▲▲分類1到此為止▲▲ -->
					<!-- ▼▼分類2從此開始▼▼ -->
					<li id="cat_02">
						<h2>推薦商品</h2>
						<ul>
							<!-- ▼▼商品1從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_03.jpg" width="212" height="155" alt="裸麥的法國麵包 照片" /></p>
								<h3>裸麥的法國麵包</h3>
								<p class="text">裸麥的法國麵包。<br />
								適合搭配蜂蜜食用。</p>
								<p class="price">450元</p>
							</li>
							<!-- ▲▲商品1到此為止▲▲ -->
						</ul>
						<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
					</li>
					<!-- ▲▲分類2到此為止▲▲ -->
					<!-- ▼▼分類3從此開始▼▼ -->
					<li id="cat_03">
						<h2>硬式麵包</h2>
						<ul>
							<!-- ▼▼商品1從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_04.jpg" width="212" height="155" alt="法國麵包 照片" /></p>
								<h3>法國麵包</h3>
								<p class="text">以道地製法製作、耗時耗工的法國麵包。<br />
								每天吃也不會膩的單純味道。</p>
								<p class="price">450元</p>
							</li>
							<!-- ▲▲商品1到此為止▲▲ -->
							<!-- ▼▼商品2從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_05.jpg" width="212" height="155" alt="乾水果麵包 照片" /></p>
								<h3>乾水果麵包</h3>
								<p class="text">採用草莓、葡萄與堅果的法國麵包。</p>
								<p class="price">450元</p>
							</li>
							<!-- ▲▲商品2到此為止▲▲ -->
							<!-- ▼▼商品3從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_06.jpg" width="212" height="155" alt="鄉村法國麵包 照片" /></p>
								<h3>鄉村法國麵包</h3>
								<p class="text">越嚼越有小麥的單純味道。</p>
								<p class="price">550元</p>
							</li>
							<!-- ▲▲商品3到此為止▲▲ -->
						</ul>
						<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
					</li>
					<!-- ▲▲分類3到此為止▲▲ -->
					<!-- ▼▼分類4從此開始▼▼ -->
					<li id="cat_04">
						<h2>貝果</h2>
						<ul>
							<!-- ▼▼商品1從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_07.jpg" width="212" height="155" alt="貝果三明治 照片" /></p>
								<h3>貝果三明治</h3>
								<p class="text">採用水嫩當令蔬菜的貝果三明治。</p>
								<p class="price">500元</p>
							</li>
							<!-- ▲▲商品1到此為止▲▲ -->
						</ul>
						<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
					</li>
					<!-- ▲▲分類4到此為止▲▲ -->
					<!-- ▼▼分類5從此開始▼▼ -->
					<li id="cat_05">
						<h2>三明治</h2>
						<ul>
							<!-- ▼▼商品1從此開始▼▼ -->
							<li class="clearfix">
								<p class="photo"><img src="img/products_08.jpg" width="212" height="155" alt="鮭魚棍子三明治 照片" /></p>
								<h3>鮭魚棍子三明治</h3>
								<p class="text">超大份量！<br />
								拿來當午餐也不錯。</p>
								<p class="price">550元</p>
							</li>
							<!-- ▲▲商品1到此為止▲▲ -->
						</ul>
						<p class="pagetop"><a href="#wrap">回到本頁最上方</a></p>
					</li>
					<!-- ▲▲分類5到此為止▲▲ -->
				</ul>
			</div>
		</div>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Brown Bakely. All rights reserved.</address>
	</div>
</body>
</html>
