<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>News｜Brown Bakery</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Brown Bakery" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">堅持以最好的食材為您製作最好吃的麵包。</p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">Home</a></li>
			<li id="navi_02"><a href="news.html">News</a></li>
			<li id="navi_03"><a href="concept.html">Concept</a></li>
			<li id="navi_04"><a href="menu.html">Menu</a></li>
			<li id="navi_05"><a href="shop.html">Shop</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents" class="clearfix">
			<div id="title" class="clearfix">
				<!-- ▼內容標題 -->
				<h2>News</h2>
				<!-- ▼內容説明 -->
				<p class="copy">Brown Bakery的最新資訊。</p>
			</div>
			<ul id="news">
				<!-- ▼▼新聞1從此開始▼▼ -->
				<li>
					<p class="date">2011.07.01</p>
					<h3>夏季限定！夏季蔬菜三明治開始提供了！</h3>
					<p class="text">每年廣受好評的夏季蔬菜三明治，今年也開始提供了。大量使用了契作農家提供的蕃茄。<br />
					這道三明治是夏季限定的菜單，僅提供至9月而己。請您一定要來本店嘗嘗這當季的味道。</p>
				</li>
				<!-- ▲▲新聞1到此為止▲▲ -->
				<!-- ▼▼新聞2從此開始▼▼ -->
				<li>
					<p class="date">2011.06.10</p>
					<h3>本店被朝刊新聞報導了。</h3>
					<p class="text">本店店長的專訪將於朝刊新聞(6月10日)報導。<br />
					採訪內容除了開店時的故事之外，也說明本店對食材的堅持。</p>
				</li>
				<!-- ▲▲新聞2到此為止▲▲ -->
				<!-- ▼▼新聞3從此開始▼▼ -->
				<li>
					<p class="date">2011.05.15</p>
					<h3>菜單裡新增了鄉村法國麵包。</h3>
					<p class="text">菜單裡新增了鄉村法國麵包。<br />
					使用裸麥的鄉村法國麵包越嚼越能吃到小麥的原味。<br />
					詳情請見<a href="menu.html">Menu</a>。</p>
				</li>
				<!-- ▲▲新聞3到此為止▲▲ -->
				<!-- ▼▼新聞4從此開始▼▼ -->
				<li>
					<p class="date">2011.04.01</p>
					<h3>4月開始早上7點開店！</h3>
					<p class="text">從4月開始，開店時間將提早至早上7點。<br />
					本店希望您能在忙碌的早晨，以本店的麵包為早餐，補充您一天所需的活力。</p>
				</li>
				<!-- ▲▲新聞4到此為止▲▲ -->
				<!-- ▼▼新聞5從此開始▼▼ -->
				<li>
					<p class="date">2011.03.02</p>
					<h3>人力招募公告</h3>
					<p class="text">本店從4月開始將提早開店時間至7點。因此我們需要早上的門市人員。<br />
					上班時間為早上6點～9點。意者請洽本店工作人員。</p>
				</li>
				<!-- ▲▲新聞5到此為止▲▲ -->
				<!-- ▼▼新聞6從此開始▼▼ -->
				<li>
					<p class="date">2011.03.01</p>
					<h3>首頁改版了</h3>
					<p class="text">首頁改版了。<br />
					目前的首頁比之前的版本更能傳達本店的堅持。</p>
				</li>
				<!-- ▲▲新聞6到此為止▲▲ -->
			</ul>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Brown Bakely. All rights reserved.</address>
	</div>
</body>
</html>
