<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Shop｜Brown Bakery</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Brown Bakery" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">堅持以最好的食材為您製作最好吃的麵包。</p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">Home</a></li>
			<li id="navi_02"><a href="news.html">News</a></li>
			<li id="navi_03"><a href="concept.html">Concept</a></li>
			<li id="navi_04"><a href="menu.html">Menu</a></li>
			<li id="navi_05"><a href="shop.html">Shop</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents" class="clearfix">
			<div id="title" class="clearfix">
				<!-- ▼內容標題 -->
				<h2>Shop</h2>
				<!-- ▼內容説明 -->
				<p class="copy">Brown Bakery店舗資訊。</p>
			</div>
			<div id="shop">
				<div id="shop_info">
					<!-- ▼▼交通資訊從此開始▼▼ -->
					<h3>交通方式</h3>
					<div class="text">
						<p>從竹橋站步行5分鐘。<br />
						走出車站後，向左轉。<br />
						看到超市後向右轉，就會看到花店。<br />
						從花店右轉，走個五家店面，就會看到咖啡牆壁的敝店。</p>
						<p>※敝店沒有附設停車場，建議您搭乘大眾交通工具蒞臨。</p>
					</div>
					<!-- ▲▲交通資訊到此為止▲▲ -->
					<!-- ▼▼店舖資訊從此開始▼▼ -->
					<h3>店舗情報</h3>
					<dl>
						<dt>店名</dt>
						<dd>Brown Bakery</dd>
						<dt>TEL</dt>
						<dd>00-0000-0000</dd>
						<dt>FAX</dt>
						<dd>00-0000-0000</dd>
						<dt>E-Mail</dt>
						<dd>contact@xxxx.xxx</dd>
						<dt>地址</dt>
						<dd>〒100-0003<br />
						千代田區一之橋1-1-1</dd>
						<dt>營業時間</dt>
						<dd>7:00～19:00</dd>
						<dt>例假日</dt>
						<dd>星期三<br />
						如因故休店將於News公告。</dd>
					</dl>
					<!-- ▲▲店舖資訊到此為止▲▲ -->
				</div>
				<ul id="shop_info_img">
					<!-- ▼地圖 -->
					<li><img src="img/shop_01.jpg" width="340" alt="地圖" /></li>
					<!-- ▼店舖形象圖 -->
					<li class="photo"><img src="img/shop_02.jpg" width="329" height="210" alt="麵包照片" /></li>
				</ul>
			</div>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 Brown Bakely. All rights reserved.</address>
	</div>
</body>
</html>
