<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>交通方式｜毎日堂 竹橋本店</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日堂 竹橋本店" /></a></h1>
			<div id="contact">
				<!-- ▼▼線上客服從此開始▼▼ -->
				<p><strong>預約・洽詢</strong></p>
				<p class="num">00-0000-0000</p>
				<!-- ▲▲線上客服到此為止▲▲ -->
			</div>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">客室</a></li>
			<li id="navi_04"><a href="menu.html">料理</a></li>
			<li id="navi_05"><a href="access.html">交通方式</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/second_head.png" width="963" height="20" alt="" /></p>
			<!-- ▼內容標題 -->
			<h2>交通方式</h2>
			<div id="access">
				<div id="access_info">
					<!-- ▼▼交通資訊1從此開始▼▼ -->
					<h3>搭乘電車的您</h3>
					<p class="text">可從JR竹橋站步行，約5分鐘即可到達。<br />
					走出竹橋站南口後，左轉進入竹橋路即可。<br />
					接著走過一個紅綠燈，就會在右手邊看到我們。</p>
					<!-- ▲▲交通資訊1到此為止▲▲ -->
					<!-- ▼▼交通資訊2從此開始▼▼ -->
					<h3>開車來的您</h3>
					<p class="text">可從JR東京站出發，車程約25分鐘。<br />
					走國道1號線往竹橋方向前進，到了每日十字路口後向右轉、<br />
					接著在第2個紅綠燈處左轉即可看到每日堂的停車場。</p>
					<!-- ▲▲交通資訊2到此為止▲▲ -->
					<dl id="shop_info">
						<!-- ▼▼交通資訊3從此開始▼▼ -->
						<dt>名稱</dt>
						<dd>毎日堂 竹橋本店</dd>
						<dt>地址</dt>
						<dd>〒100-0003　千代田區一之橋1-1-1</dd>
						<dt>電話</dt>
						<dd>00-0000-0000</dd>
						<dt>FAX</dt>
						<dd>00-0000-0000</dd>
						<dt>營業時間</dt>
						<dd>午餐 10:00～14:00　晚餐 17:00～23:00</dd>
						<!-- ▲▲交通資訊3到此為止▲▲ -->
					</dl>
				</div>
				<!-- ▼地圖 -->
				<p id="access_info_img"><img src="img/access_01.jpg" width="420" alt="地圖" /></p>
				<ul>
					<!-- ▼▼交通照片從此開始▼▼ -->
					<li class="photo_01"><img src="img/access_02.jpg" width="290" height="170" alt="料理" /></li>
					<li class="photo_02"><img src="img/access_03.jpg" width="290" height="170" alt="客室" /></li>
					<li class="photo_03"><img src="img/access_04.jpg" width="290" height="170" alt="玄關" /></li>
					<!-- ▲▲交通照片到此為止▲▲ -->
				</ul>
			</div>
			<p><img src="components/img/second_footer.png" width="963" height="20" alt="" /></p>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 MAINICHIDO. All rights reserved.</address>
	</div>
</body>
</html>
