<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>客室｜毎日堂 竹橋本店</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_03">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日堂 竹橋本店" /></a></h1>
			<div id="contact">
				<!-- ▼▼線上客服從此開始▼▼ -->
				<p><strong>預約・洽詢</strong></p>
				<p class="num">00-0000-0000</p>
				<!-- ▲▲線上客服到此為止▲▲ -->
			</div>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">客室</a></li>
			<li id="navi_04"><a href="menu.html">料理</a></li>
			<li id="navi_05"><a href="access.html">交通方式</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/second_head.png" width="963" height="20" alt="" /></p>
			<!-- ▼內容標題 -->
			<h2>客房</h2>
			<div id="concept">
				<!-- ▼概念小標 -->
				<h3>與四季的風景一起生活</h3>
				<!-- ▼▼概念從此開始▼▼ -->
				<p class="text">毎日堂從江戶時代竹橋街開始創業，經過200年的時空，成為竹橋街的街景之一。<br />
				來到每日堂能讓您忘記都會的喧囂，充份享受一個沉靜的空間。<br />
				每日堂每一間客室都能在庭院裡欣賞四季景色的變換。而每一處的庭院都能聽到潺潺的流水聲，為原本閒靜的空間，增添空靈的鈴聲。<br />
				我們提供的是四季變換的景色與季節料理。</p>
				<!-- ▲▲概念到此為止▲▲ -->
				<ul>
				<!-- ▼▼概念照片從此開始▼▼ -->
					<li class="photo_01"><img src="img/concept_01.jpg" width="270" height="240" alt="客室1" /></li>
					<li class="photo_02"><img src="img/concept_02.jpg" width="270" height="240" alt="客室2" /></li>
					<li class="photo_03"><img src="img/concept_03.jpg" width="338" height="450" alt="客室3" /></li>
				<!-- ▲▲概念照片到此為止▲▲ -->
				</ul>
			</div>
			<p><img src="components/img/second_footer.png" width="963" height="20" alt="" /></p>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 MAINICHIDO. All rights reserved.</address>
	</div>
</body>
</html>
