<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>毎日堂 竹橋本店</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="components/css/lightbox.css" type="text/css">
<script src="components/js/prototype.js" type="text/javascript"></script>
<script src="components/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="components/js/lightbox.js" type="text/javascript"></script>
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日堂 竹橋本店" /></a></h1>
			<div id="contact">
				<!-- ▼▼線上客服從此開始▼▼ -->
				<p><strong>預約．洽詢</strong></p>
				<p class="num">00-0000-0000</p>
				<!-- ▲▲線上客服到此為止▲▲ -->
			</div>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">客室</a></li>
			<li id="navi_04"><a href="menu.html">料理</a></li>
			<li id="navi_05"><a href="access.html">交通方式</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<!-- ▼主圖 -->
			<p id="main"><img src="img/main.jpg" width="650" height="480" alt="料理" /></p>
			<div id="about">
				<!-- ▼主要內容 -->
				<p>一邊欣賞四季變換的風景，一邊享受當季的食材。<br />
				請您與心愛的人一起來這渡過悠閒寧靜的時光。</p>
				<ul id="pickup" class="clearfix">
					<!-- ▼▼重點訊息從此開始▼▼ -->
					<li>
						<p><a href="img/pickup/pickup_01.jpg" rel="lightbox[pickup]" title="外觀"><img src="img/pickup/pickup_th_01.jpg" width="80" height="80" alt="外觀" /></a></p>
						<p class="plus">放大</p>
					</li>
					<li>
						<p><a href="img/pickup/pickup_02.jpg" rel="lightbox[pickup]" title="料理"><img src="img/pickup/pickup_th_02.jpg" width="80" height="80" alt="料理" /></a></p>
						<p class="plus">放大</p>
					</li>
					<li>
						<p><a href="img/pickup/pickup_03.jpg" rel="lightbox[pickup]" title="客室"><img src="img/pickup/pickup_th_03.jpg" width="80" height="80" alt="客室" /></a></p>
						<p class="plus">放大</p>
					</li>
					<!-- ▲▲重點訊息到此為止▲▲ -->
				</ul>
				<div id="info">
					<!-- ▼網站公告標題 -->
					<h2>新近資訊</h2>
					<dl>
						<!-- ▼▼網站公告從此開始▼▼ -->
						<dt>2011年06月01日</dt>
						<dd><a href="news.html">利用當季食材舉辦的初夏原味賞開始了。</a></dd>
						<dt>2011年02月10日</dt>
						<dd><a href="news.html">請您多多使用「平日折價券」。</a></dd>
						<dt>2011年01月25日</dt>
						<dd>首頁改建完成。</dd>
						<!-- ▲▲網站公告到此為止▲▲ -->
					</dl>
				</div>
			</div>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 MAINICHIDO. All rights reserved.</address>
	</div>
</body>
</html>
