<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>料理｜毎日堂 竹橋本店</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="components/css/lightbox.css" type="text/css">
<script src="components/js/prototype.js" type="text/javascript"></script>
<script src="components/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="components/js/lightbox.js" type="text/javascript"></script>
</head>

<body id="contents_04">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日堂 竹橋本店" /></a></h1>
			<div id="contact">
				<!-- ▼▼線上客服從此開始▼▼ -->
				<p><strong>預約・洽詢</strong></p>
				<p class="num">00-0000-0000</p>
				<!-- ▲▲線上客服到此為止▲▲ -->
			</div>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">客室</a></li>
			<li id="navi_04"><a href="menu.html">料理</a></li>
			<li id="navi_05"><a href="access.html">交通方式</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/second_head.png" width="963" height="20" alt="" /></p>
			<!-- ▼內容標題 -->
			<h2>料理</h2>
			<div id="menu">
				<!-- ▼菜單說明説明 -->
				<p class="text">一邊欣賞四季變換的風景，一邊享受當季的食材。</p>
				<ul>
					<!-- ▼▼菜單1從此開始▼▼ -->
					<li class="clearfix">
						<h3>單品料理</h3>
						<ul>
							<li>
								<p><a href="img/menu/menu_01_01.jpg" rel="lightbox[menu01]" title="小菜 1,200元"><img src="img/menu/menu_th_01_01.jpg" width="150" height="150" alt="小菜 1,200元" /></a></p>
								<p class="plus">放大</p>
								<p class="cap">小菜 1,200元</p>
							</li>
							<li>
								<p><a href="img/menu/menu_01_02.jpg" rel="lightbox[menu01]" title="特級壽司 2,800元"><img src="img/menu/menu_th_01_02.jpg" width="150" height="150" alt="特級壽司 2,800元" /></a></p>
								<p class="plus">放大</p>
								<p class="cap">特級壽司 2,800元</p>
							</li>
							<li>
								<p><a href="img/menu/menu_01_03.jpg" rel="lightbox[menu01]" title="山之御前 1,800元"><img src="img/menu/menu_th_01_03.jpg" width="150" height="150" alt="山之御前 1,800元" /></a></p>
								<p class="plus">拡大</p>
								<p class="cap">山之御前 1,800元</p>
							</li>
							<li>
								<p><a href="img/menu/menu_01_04.jpg" rel="lightbox[menu01]" title="鰻之前菜 1,800元"><img src="img/menu/menu_th_01_04.jpg" width="150" height="150" alt="鰻之前菜 1,800元" /></a></p>
								<p class="plus">放大</p>
								<p class="cap">鰻之前菜 1,800元</p>
							</li>
							<li>
								<p><a href="img/menu/menu_01_05.jpg" rel="lightbox[menu01]" title="松茸風味燒 1,800元"><img src="img/menu/menu_th_01_05.jpg" width="150" height="150" alt="松茸風味燒 1,800元" /></a></p>
								<p class="plus">放大</p>
								<p class="cap">松茸風味燒 1,800元</p>
							</li>
						</ul>
					</li>
					<!-- ▲▲菜單1到此為止▲▲ -->
					<!-- ▼▼菜單2從此開始▼▼ -->
					<li class="clearfix">
						<h3>季節限定</h3>
						<ul>
							<li>
								<p><a href="img/menu/menu_02_01.jpg" rel="lightbox[menu02]" title="慶祝壽司 1500元"><img src="img/menu/menu_th_02_01.jpg" width="150" height="150" alt="慶祝壽司 1500元" /></a></p>
								<p class="plus">放大</p>
								<p class="cap">慶祝壽司 1500元</p>
							</li>
							<li>
								<p><a href="img/menu/menu_02_02.jpg" rel="lightbox[menu02]" title="季節性前菜 800元"><img src="img/menu/menu_th_02_02.jpg" width="150" height="150" alt="季節性前菜 800元" /></a></p>
								<p class="plus">放大</p>
								<p class="cap">季節性前菜 800元</p>
							</li>
							<li>
								<p><a href="img/menu/menu_02_03.jpg" rel="lightbox[menu02]" title="茶品與燉菜 1,800元"><img src="img/menu/menu_th_02_03.jpg" width="150" height="150" alt="茶品與燉菜 1,800元" /></a></p>
								<p class="plus">拡大</p>
								<p class="cap">茶品與燉菜 1,800元</p>
							</li>
						</ul>
					</li>
					<!-- ▲▲菜單2到此為止▲▲ -->
				</ul>
			</div>
			<p><img src="components/img/second_footer.png" width="963" height="20" alt="" /></p>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 MAINICHIDO. All rights reserved.</address>
	</div>
</body>
</html>
