<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>網站公告｜毎日堂 竹橋本店</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日堂 竹橋本店" /></a></h1>
			<div id="contact">
				<!-- ▼▼線上客服從此開始▼▼ -->
				<p><strong>預約・洽詢</strong></p>
				<p class="num">00-0000-0000</p>
				<!-- ▲▲線上客服到此為止▲▲ -->
			</div>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">客室</a></li>
			<li id="navi_04"><a href="menu.html">料理</a></li>
			<li id="navi_05"><a href="access.html">交通方式</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<p><img src="components/img/second_head.png" width="963" height="20" alt="" /></p>
			<!-- ▼內容標題 -->
			<h2>網站公告</h2>
			<ul id="news">
				<!-- ▼▼新聞1從此開始▼▼ -->
				<li class="clearfix">
					<p class="date">2011.09.21</p>
					<div class="news">
						<h3>期間限定、秋季懷石料理介紹</h3>
						<p class="text">季節限定的懷石料理套餐開始了。來店之前先以電話預約即可。</p>
					</div>
				</li>
				<!-- ▲▲新聞1到此為止▲▲ -->
				<!-- ▼▼新聞2從此開始▼▼ -->
				<li class="clearfix">
					<p class="date">2011.09.18</p>
					<div class="news">
						<h3>婚礼披露宴試食会</h3>
						<p class="text">如果您想在毎日堂舉辦婚禮，本飯店提供試吃會。<br />
						由於試吃會限定平日提供，請您在來店之前先與線上客服聯絡。</p>
					</div>
				</li>
				<!-- ▲▲新聞2到此為止▲▲ -->
				<!-- ▼▼新聞3從此開始▼▼ -->
				<li class="clearfix">
					<p class="date">2011.08.25</p>
					<div class="news">
						<h3>夕涼套餐結束了</h3>
						<p class="text">夏季限定且頗受好評的夕涼會活動已結束了。</p>
					</div>
				</li>
				<!-- ▲▲新聞3到此為止▲▲ -->
				<!-- ▼▼新聞4從此開始▼▼ -->
				<li class="clearfix">
					<p class="date">2011.08.15</p>
					<div class="news">
						<h3>營業時間變更公告</h3>
						<p class="text">8月15日起的三天內，因盂盆蘭節營業時間有所變動。</p>
					</div>
				</li>
				<!-- ▲▲新聞4到此為止▲▲ -->
				<!-- ▼▼新聞5從此開始▼▼ -->
				<li class="clearfix">
					<p class="date">2011.07.15</p>
					<div class="news">
						<h3>夕涼套餐</h3>
						<p class="text">以夏夜景色為點綴，在涼爽的座位上享受夏季美食。<br />
						我們使用了當令的食材製作了特別的餐點。</p>
					</div>
				</li>
				<!-- ▲▲新聞5到此為止▲▲ -->
				<!-- ▼▼新聞6從此開始▼▼ -->
				<li class="clearfix">
					<p class="date">2011.07.01</p>
					<div class="news">
						<h3>再次提供和牛牛肉餐點</h3>
						<p class="text">之前曾暫時提供的和牛牛肉再度開始提供。</p>
					</div>
				</li>
				<!-- ▲▲新聞6到此為止▲▲ -->
			</ul>
			<p><img src="components/img/second_footer.png" width="963" height="20" alt="" /></p>
		</div>
		<!-- ▼版權聲明 -->
		<address>&copy; 2011 MAINICHIDO. All rights reserved.</address>
	</div>
</body>
</html>
