<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>概念｜SWEET SWEETS DAYS</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_03">
	<div id="wrap">
		<div id="header" class="clearfix">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="SWEET SWEETS DAYS" /></a></h1>
			<div id="header_info">
				<!-- ▼線上客服 -->
				<p id="contact"><strong>Tel</strong> 03-1234-5678　
				<strong>E-Mail</strong> contact@sweets.net</p>
				<!-- ▼文案 -->
				<p class="copy">季節性水果甜點的外帶專門店</p>
			</div>
		</div>
		<ul id="navi" class="clearfix">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖資訊</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="main_area">
			<div id="title">
				<!-- ▼內容標題 -->
				<h2>概念</h2>
				<!-- ▼概念說明 -->
				<p class="copy">SWEET SWEETS DAYS的概念。</p>
			</div>
			<div id="concept" class="clearfix">
				<div id="concept_text">
					<!-- ▼概念小標 -->
					<h3>SWEET SWEETS DAYS<br />
					提供的是讓心變得更美麗的甜點。</h3>
					<!-- ▼▼概念從此開始▼▼ -->
					<p>我們大量地使用季節件的水果，在不使用任何色素之下，讓大家充份地享受素材的味道。</p>
					<p>而且我們認為甜點的「設計」也十分重要。每當生日慶祝推出蛋糕的那一刻，每個人的臉上都會綻放如花的笑容，這正是蛋糕設計的討喜之處。</p>
					<p>由於本店的西點師傅是女性，因此十分懂得如何設計出打動女性內心的甜點。</p>
					<p>雖然本店是外帶專門店，但仍舉辦期間限定的蛋糕促銷活動。每當陳列出各式各樣的蛋糕時，總是能得到每位顧客的讚美。</p>
					有機會請來本店，買一個犒賞自己的蛋糕。</p>
					<!-- ▲▲概念到此為止▲▲ -->
				</div>
				<!-- ▼概念照片 -->
				<p id="concept_img"><img src="img/concept_01.jpg" width="360" alt="蛋糕照片" /></p>
				<ul id="concept_photos">
					<!-- ▼▼詳細說明1從此開始▼▼ -->
					<li>
						<p><img src="img/concept_02.jpg" width="250" alt="草莓蛋糕" /></p>
						<h4>超可愛設計</h4>
						<p class="text">由於本店的西點師傅是女性，因此十分懂得如何設計出打動女性內心的甜點。請您仔細品嘗這色香味俱全的蛋糕。</p>
					</li>
					<!-- ▲▲詳細說明1到此為止▲▲ -->
					<!-- ▼▼詳細說明2從此開始▼▼ -->
					<li>
						<p><img src="img/concept_03.jpg" width="250" alt="杯子蛋糕" /></p>
						<h4>完全不使用任何色素</h4>
						<p class="text">在不使用任何色素之下，讓大家充份地享受素材的味道。也能為體質過敏的您製作特殊的蛋糕，歡迎您隨時來店詢問。</p>
					</li>
					<!-- ▲▲詳細說明2到此為止▲▲ -->
					<!-- ▼▼詳細說明3從此開始▼▼ -->
					<li>
						<p><img src="img/concept_04.jpg" width="250" alt="餅乾禮物" /></p>
						<h4>我們也能為您製作禮物類的糕點</h4>
						<p class="text">而且還能利用本店獨創的包裝，讓禮物看起來更精緻。而且還能為您製作婚禮禮物。</p>
					</li>
					<!-- ▲▲詳細說明3到此為止▲▲ -->
				</ul>
			</div>
		</div>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 SWEET SWEETS DAYS. All rights reserved.</address>
</body>
</html>
