<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>網站公告｜SWEET SWEETS DAYS</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="header" class="clearfix">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="SWEET SWEETS DAYS" /></a></h1>
			<div id="header_info">
				<!-- ▼線上客服 -->
				<p id="contact"><strong>Tel</strong> 03-1234-5678　
				<strong>E-Mail</strong> contact@sweets.net</p>
				<!-- ▼文案 -->
				<p class="copy">季節性水果甜點的外帶專門店</p>
			</div>
		</div>
		<ul id="navi" class="clearfix">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">網站公告</a></li>
			<li id="navi_03"><a href="concept.html">概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖資訊</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->

		</ul>
		<div id="main_area">
			<div id="title">
				<!-- ▼內容標題 -->
				<h2>網站公告</h2>
				<!-- ▼內容説明 -->
				<p class="copy">活動與新商品的公告。</p>
			</div>
			<ul id="news">
				<!-- ▼▼新聞1從此開始▼▼ -->
				<li class="clearfix">
					<div class="detail">
						<p class="date">2011.09.21</p>
						<h3>期間限定！蛋糕促銷（付飲料）的公告</h3>
						<p class="text">9月23日～26日之間，本店將舉辦蛋糕促銷。<br />
						請利用E-Mail預約。</p>
					</div>
					<p class="photo"><img src="img/news_01.jpg" width="250" alt="蛋糕促銷" /></p>
				</li>
				<!-- ▲▲新聞1到此為止▲▲ -->
				<!-- ▼▼新聞2從此開始▼▼ -->
				<li class="clearfix">
					<div class="detail">
						<p class="date">2011.07.18</p>
						<h3>夏季禮物的預購開始了！</h3>
						<p class="text">常來本店光臨的您，是否想在夏季將果凍與布丁當成禮物贈送？<br />
						詳情請至本店詢問。</p>
					</div>
					<p class="photo"><img src="img/news_02.jpg" width="250" alt="夏季禮物" /></p>
				</li>
				<!-- ▲▲新聞2到此為止▲▲ -->
				<!-- ▼▼新聞3從此開始▼▼ -->
				<li class="clearfix">
					<div class="detail">
						<p class="date">2011.07.12</p>
						<h3>季節性甜點更新了</h3>
						<p class="text">我們準備了許多正合節令的新鮮水果甜點！<br />
						請您從「商品介紹」頁面查詢相關內容。</p>
					</div>
					<p class="photo"><img src="img/news_03.jpg" width="250" alt="夏季禮物" /></p>
				</li>
				<!-- ▲▲新聞3到此為止▲▲ -->
			</ul>
		</div>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 SWEET SWEETS DAYS. All rights reserved.</address>
</body>
</html>
