<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>交通方式｜毎日牙醫</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body id="contents_05">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日牙醫" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">仔細的說明與治療，長保您的口腔健康。</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="concept.html">醫院介紹</a></li>
				<li id="navi_03"><a href="service.html">診療導覽</a></li>
				<li id="navi_04"><a href="faq.html">常見問題</a></li>
				<li id="navi_05"><a href="access.html">交通方式</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="contents">
			<div id="main_area" class="second">
				<!-- ▼內容標題 -->
				<h2>交通方式</h2>
				<!-- ▼地圖 -->
				<p><img src="img/access_01.jpg" width="580" alt="地圖" /></p>
				<!-- ▼地圖説明 -->
				<p class="text">東西線「竹橋站」開始徒步3分鐘<br />
				走出車站南邊出口後向右轉，在第一個十字路口向左轉，看到竹橋幼稚園後向右轉。<br />
				約莫走50公尺後，白色建築物就是本院。</p>
				<dl>
					<!-- ▼▼資訊從此開始▼▼ -->
					<dt>名稱</dt>
					<dd>毎日牙醫診所</dd>
					<dt>地址</dt>
					<dd>〒100-0003　千代田區一之橋1-1-1</dd>
					<dt>TEL</dt>
					<dd>00-0000-0000</dd>
					<dt>FAX</dt>
					<dd>00-0000-0000</dd>
					<dt>E-mail</dt>
					<dd>info@xxxx.xxx</dd>
					<dt>門診時間</dt>
					<dd>星期一～五：10點～19點　／　星期六：10點～13點　／　星期日．國定假日：休診</dd>
					<!-- ▲▲資訊到此為止▲▲ -->
				</dl>
			</div>
			<div id="sub_area">
				<!-- ▼▼網站導覽列1從此開始▼▼ -->
				<div class="sub_navi">
				<h2>一般齒科</h2>
					<ul>
						<li><a href="service.html#s_01_01">蛀牙治療</a></li>
						<li><a href="service.html#s_01_02">牙周病治療</a></li>
						<li><a href="service.html#s_01_03">植牙</a></li>
						<li><a href="service.html#s_01_04">預防治療</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列1到此為止▲▲ -->
				<!-- ▼▼網站導覽列2從此開始▼▼ -->
				<div class="sub_navi">
					<h2>醫美齒科</h2>
					<ul>
						<li><a href="service.html#s_02_01">牙齒美白</a></li>
						<li><a href="service.html#s_02_02">全陶瓷假牙</a></li>
						<li><a href="service.html#s_02_03">陶瓷補牙</a></li>
						<li><a href="service.html#s_02_04">PMTC</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列2到此為止▲▲ -->
				<div id="contact">
					<!-- ▼線上客服標題 -->
					<h2>線上客服</h2>
					<dl>
						<!-- ▼▼線上客服從此開始▼▼ -->
						<dt>地址</dt>
						<dd>千代田區一之橋1-1-1</dd>
						<dt>E-mail</dt>
						<dd>info@xxxx.xxx</dd>
						<dt>Tel</dt>
						<dd>00-0000-0000</dd>
						<dt>受理時間</dt>
						<dd>星期一～五：10點～19點<br />
						星期六：10點～13點<br />
						星期日．國定假日：休診</dd>
						<!-- ▲▲線上客服到此為止▲▲ -->
					</dl>
				</div>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/bg_contents_footer.png" width="864" height="21" alt="" /></p>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Mainichi Dental Clinic. All rights reserved.</address>
</body>
</html>
