<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>醫院介紹｜毎日牙醫</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body id="contents_02">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日デンタルクリニック" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">仔細的說明與治療，長保您的口腔健康。</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="concept.html">醫院介紹</a></li>
				<li id="navi_03"><a href="service.html">診療導覽</a></li>
				<li id="navi_04"><a href="faq.html">常見問題</a></li>
				<li id="navi_05"><a href="access.html">交通方式</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="contents">
			<div id="main_area" class="second">
				<!-- ▼內容標題 -->
				<h2>醫院介紹</h2>
				<div id="concept_text">
					<!-- ▼概念照片 -->
					<p id="concept_img"><img src="img/concept_01.jpg" width="220" height="290" alt="餐點照片" /></p>
					<!-- ▼▼概念從此開始▼▼ -->
					<p>為了更開心地享受美食，為了更愉快地渡過每一天，牙齒的健康是不可或缺的。</p>
					<p>本院重視的是清潔的環境以及安心、安全的治療。</p>
					<p>為了讓您安心地接受治療，也會進行診前的詳細說明。<br />
					治療開始前，將說明治療的步驟以及診療費的計算方式，直到您充份了解後，才會進入療程。</p>
					<p>此外我們也提供牙齒醫美服務，務求讓您的笑容更加璨爛。</p>
					<p>希望藉著我們的服務讓您擁有一生健康的牙齒。</p>
					<!-- ▲▲概念到此為止▲▲ -->
				</div>
				<!-- ▼簡介標題 -->
				<h3>院長紹介</h3>
				<div id="prof" class="clearfix">
					<!-- ▼簡介照片 -->
					<p id="prof_img"><img src="img/concept_02.jpg" width="150" alt="簡介照片" /></p>
					<div id="prof_text">
						<!-- ▼簡介小標 -->
						<h4>院長　毎日 健（Dr. Ken Mainichi）</h4>
						<!-- ▼▼簡介內容從此開始▼▼ -->
						<p>1990年　毎日醫科大学牙醫科畢業<br />
						1991年　於竹橋牙醫診所服務<br />
						2000年　創立毎日牙醫診所</p>
						<p>日本牙醫審美學會會員<br />
						日本口腔移植學會會員</p>
						<!-- ▲▲簡介內容到此為止▲▲ -->
					</div>
				</div>
			</div>
			<div id="sub_area">
				<!-- ▼▼網站導覽列1從此開始▼▼ -->
				<div class="sub_navi">
				<h2>一般齒科</h2>
					<ul>
						<li><a href="service.html#s_01_01">蛀牙治療</a></li>
						<li><a href="service.html#s_01_02">牙周病治療</a></li>
						<li><a href="service.html#s_01_03">植牙</a></li>
						<li><a href="service.html#s_01_04">預防治療</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列1到此為止▲▲ -->
				<!-- ▼▼網站導覽列2從此開始▼▼ -->
				<div class="sub_navi">
					<h2>醫美齒科</h2>
					<ul>
						<li><a href="service.html#s_02_01">牙齒美白</a></li>
						<li><a href="service.html#s_02_02">全陶瓷假牙</a></li>
						<li><a href="service.html#s_02_03">陶瓷補牙</a></li>
						<li><a href="service.html#s_02_04">PMTC</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列2到此為止▲▲ -->
				<div id="contact">
					<!-- ▼線上客服標題 -->
					<h2>線上客服</h2>
					<dl>
						<!-- ▼▼線上客服從此開始▼▼ -->
						<dt>地址</dt>
						<dd>千代田區一之橋1-1-1</dd>
						<dt>E-mail</dt>
						<dd>info@xxxx.xxx</dd>
						<dt>Tel</dt>
						<dd>00-0000-0000</dd>
						<dt>受理時間</dt>
						<dd>星期一～五：10點～19點<br />
						星期六：10點～13點<br />
						星期日．國定假日：休診</dd>
						<!-- ▲▲線上客服到此為止▲▲ -->
					</dl>
				</div>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/bg_contents_footer.png" width="864" height="21" alt="" /></p>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Mainichi Dental Clinic. All rights reserved.</address>
</body>
</html>
