<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>毎日牙醫</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日牙醫" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">仔細的說明與治療，長保您的口腔健康。</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="concept.html">醫院介紹</a></li>
				<li id="navi_03"><a href="service.html">診療導覽</a></li>
				<li id="navi_04"><a href="faq.html">常見問題</a></li>
				<li id="navi_05"><a href="access.html">交通方式</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="contents">
			<div id="main_area">
				<!-- ▼主圖 -->
				<p id="main"><img src="img/main.jpg" width="580" alt="為您打造一條美麗而健康的人生大道。" /></p>
				<div id="info">
					<!-- ▼網站公告標題 -->
					<h2>網站公告</h2>
					<dl>
						<!-- ▼▼網站公告從此開始▼▼ -->
						<dt>2011.06.01</dt>
						<dd>6月3日因參加學術研討，暫停看診一日。</dd>
						<dt>2011.05.21</dt>
						<dd>院長的著作出版了。<a href="concept.html">詳情請點選此處</a></dd>
						<dt>2011.05.01</dt>
						<dd>開始提供電子郵件預約服務。</dd>
						<!-- ▲▲網站公告到此為止▲▲ -->
					</dl>
				</div>
				<div id="schedule">
					<!-- ▼行程表標題 -->
					<h2>門診時間</h2>
					<!-- ▼▼行程表從此開始▼▼ -->
					<table>
						<tr>
							<th scope="col">&nbsp;</th>
							<th scope="col">一</th>
							<th scope="col">二</th>
							<th scope="col">三</th>
							<th scope="col">四</th>
							<th scope="col">五</th>
							<th scope="col">六</th>
							<th scope="col">日</th>
						</tr>
						<tr>
							<th class="sub">10:00<br />
							～13:00</th>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
						</tr>
						<tr>
							<th class="sub">15:00<br />
							～19:00</th>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>○</td>
							<td>×</td>
						</tr>
					</table>
					<!-- ▲▲行程表到此為止▲▲ -->
					<p class="cap">星期日、國定假日休診。</p>
				</div>
				<div id="topics">
					<!-- ▼主題標題 -->
					<h2>本院特色</h2>
					<ul>
						<!-- ▼▼主題1從此開始▼▼ -->
						<li>
							<p class="photo"><a href="service.html"><img src="img/topics_01.jpg" width="90" height="90" alt="無痛麻醉" /></a></p>
							<h4>無痛麻醉</h4>
							<p class="text">本院使用無痛麻醉。</p>
							<p class="more"><a href="service.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題1到此為止▲▲ -->
						<!-- ▼▼主題2從此開始▼▼ -->
						<li>
							<p class="photo"><a href="service.html"><img src="img/topics_02.jpg" width="90" height="90" alt="最新的雷射治療" /></a></p>
							<h4>最新的雷射治療</h4>
							<p class="text">本院以最新的技術與資訊替患者進行治療。</p>
							<p class="more"><a href="service.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題2到此為止▲▲ -->
						<!-- ▼▼主題3從此開始▼▼ -->
						<li>
							<p class="photo"><a href="concept.html"><img src="img/topics_03.jpg" width="90" height="90" alt="仔細的說明" /></a></p>
							<h4>仔細的說明</h4>
							<p class="text">在進行治療前我們將詳細說明診療費的明細。</p>
							<p class="more"><a href="concept.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題3到此為止▲▲ -->
						<!-- ▼▼主題4從此開始▼▼ -->
						<li>
							<p class="photo"><a href="concept.html"><img src="img/topics_04.jpg" width="90" height="90" alt="醫美齒科" /></a></p>
							<h4>醫美齒科</h4>
							<p class="text">讓美麗的牙齒成為您璨爛的笑容。</p>
							<p class="more"><a href="concept.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題4到此為止▲▲ -->
					</ul>
				</div>
			</div>
			<div id="sub_area">
				<!-- ▼▼網站導覽列1從此開始▼▼ -->
				<div class="sub_navi">
				<h2>一般齒科</h2>
					<ul>
						<li><a href="service.html#s_01_01">蛀牙治療</a></li>
						<li><a href="service.html#s_01_02">牙周病治療</a></li>
						<li><a href="service.html#s_01_03">植牙</a></li>
						<li><a href="service.html#s_01_04">預防治療</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列1到此為止▲▲ -->
				<!-- ▼▼網站導覽列2從此開始▼▼ -->
				<div class="sub_navi">
					<h2>醫美齒科</h2>
					<ul>
						<li><a href="service.html#s_02_01">牙齒美白</a></li>
						<li><a href="service.html#s_02_02">全陶瓷假牙</a></li>
						<li><a href="service.html#s_02_03">陶瓷補牙</a></li>
						<li><a href="service.html#s_02_04">PMTC</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列2到此為止▲▲ -->
				<div id="contact">
					<!-- ▼線上客服標題 -->
					<h2>線上客服</h2>
					<dl>
						<!-- ▼▼線上客服從此開始▼▼ -->
						<dt>地址</dt>
						<dd>千代田区一之橋1-1-1</dd>
						<dt>E-mail</dt>
						<dd>info@xxxx.xxx</dd>
						<dt>Tel</dt>
						<dd>00-0000-0000</dd>
						<dt>受理時間</dt>
						<dd>星期一～五：10點～19點<br />
						星期六：10點～13點<br />
						星期日．國定假日：休診</dd>
						<!-- ▲▲線上客服到此為止▲▲ -->
					</dl>
				</div>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/bg_contents_footer.png" width="864" height="21" alt="" /></p>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Mainichi Dental Clinic. All rights reserved.</address>
</body>
</html>
