<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼ページタイトル -->
<title>診療案内｜毎日デンタルクリニック</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body id="contents_03">
	<div id="wrap">
		<div id="header">
			<!-- ▼ロゴ画像 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="毎日デンタルクリニック" /></a></h1>
			<!-- ▼キャッチコピー -->
			<p class="copy">丁寧な説明と治療で、お口の健康をサポートします。</p>
			<ul id="navi">
				<!-- ▼▼ナビゲーションここから▼▼ -->
				<li id="navi_01"><a href="index.html">トップページ</a></li>
				<li id="navi_02"><a href="concept.html">病院紹介</a></li>
				<li id="navi_03"><a href="service.html">診療案内</a></li>
				<li id="navi_04"><a href="faq.html">よくある質問</a></li>
				<li id="navi_05"><a href="access.html">アクセス</a></li>
				<!-- ▲▲ナビゲーションここまで▲▲ -->
			</ul>
		</div>
		<div id="contents">
			<div id="main_area" class="second">
				<!-- ▼コンテンツタイトル -->
				<h2>診療案内</h2>
				<!-- ▼▼サービスカテゴリ1ここから▼▼ -->
				<!-- ▼サービスタイトル -->
				<h3>一般歯科</h3>
				<div class="service">
					<!-- ▼サービスイメージ -->
					<p class="photo"><img src="img/service_01.jpg" width="230" alt="一般歯科 写真" /></p>
					<!-- ▼サービス紹介文 -->
					<div class="text">
						<p>一般歯科とは、虫歯の治療をはじめ歯周病予防、歯槽膿漏の治療、歯の欠損部を補うことなどです。</p>
						<p>治療方針を患者様に丁寧に説明し、ご理解いただいた上で治療する事を心がけています。</p>
					</div>
					<ul>
						<!-- ▼▼サービス1ここから▼▼ -->
						<li id="s_01_01">
							<h4>虫歯治療</h4>
							<p class="text">虫歯が進行している場合は麻酔をする必要がありますが、当院では痛みの少ない麻酔を取り入れています。詰め物は保険が適用されるものと適用外のものがありますので、治療前にご説明いたします。</p>
						</li>
						<!-- ▲▲サービス1ここまで▲▲ -->
						<!-- ▼▼サービス2ここから▼▼ -->
						<li id="s_01_02">
							<h4>歯周病治療</h4>
							<p class="text">口の中が臭う、歯茎から血が出るなどの症状が見られたらご来院ください。放っておくと、最後には歯が抜けてしまいます。また歯周病はさまざまな全身疾患にもつながります。</p>
						</li>
						<!-- ▲▲サービス2ここまで▲▲ -->
						<!-- ▼▼サービス3ここから▼▼ -->
						<li id="s_01_03">
							<h4>入れ歯</h4>
							<p class="text">残っている歯を最大限に活用し、あなたのお口に合った入れ歯を作ります。また、これ以上歯を失わないためのブラッシング方法や入れ歯のケアの仕方なども指導します。</p>
						</li>
						<!-- ▲▲サービス3ここまで▲▲ -->
						<!-- ▼▼サービス4ここから▼▼ -->
						<li id="s_01_04">
							<h4>予防歯科</h4>
							<p class="text">治療で痛い思いをしないように、虫歯や歯周病を毎日の歯磨きで予防しましょう。患者様にあったブラッシング方法をご提案しています。</p>
						</li>
						<!-- ▲▲サービス4ここまで▲▲ -->
					</ul>
					<p class="pagetop"><a href="#wrap">ページトップへもどる</a></p>
				</div>
				<!-- ▲▲サービスカテゴリ1ここまで▲▲ -->
				<!-- ▼▼サービスカテゴリ2ここから▼▼ -->
				<!-- ▼サービスタイトル -->
				<h3>審美歯科</h3>
				<div class="service">
					<!-- ▼サービスイメージ -->
					<p class="photo"><img src="img/service_02.jpg" width="230" alt="審美歯科 写真" /></p>
					<!-- ▼サービス紹介文 -->
					<div class="text">
						<p>審美歯科は歯や歯肉の病気を治すことが目的ではなく、もう一歩進んで、美しく健康な歯や歯肉を作ることを目的としています。</p>
						<p>美しい歯によって笑顔が輝き、明るく自信に満ちた人生を過ごすことができるでしょう。</p>
					</div>
					<ul>
						<!-- ▼▼サービス1ここから▼▼ -->
						<li id="s_02_01">
							<h4>ホワイトニング</h4>
							<p class="text">ホワイトニングの一番のメリットは、健康な歯を削ることなく白くできることです。歯の白さを持続させるためにはご自身のケアも大切なポイント。ブラッシングも指導いたします。</p>
						</li>
						<!-- ▲▲サービス1ここまで▲▲ -->
						<!-- ▼▼サービス2ここから▼▼ -->
						<li id="s_02_02">
							<h4>オールセラミック</h4>
							<p class="text">オールセラミックは、冠全体がセラミック(陶器)で出来ているクラウン（差し歯）のこと。非常に見た目がキレイで、「変色しない」「汚れが付きにくい」というメリットもあります。</p>
						</li>
						<!-- ▲▲サービス2ここまで▲▲ -->
						<!-- ▼▼サービス3ここから▼▼ -->
						<li id="s_02_03">
							<h4>セラミックインレー</h4>
							<p class="text">インレーとは、虫歯の治療時に使う歯の詰め物のことです。セラミックインレーで治療をすると、
虫歯治療をしたことがわからないくらいにキレイに仕上がります。</p>
						</li>
						<!-- ▲▲サービス3ここまで▲▲ -->
						<!-- ▼▼サービス4ここから▼▼ -->
						<li id="s_02_04">
							<h4>PMTC（クリーニング）</h4>
							<p class="text">プロフェッショナル・メカニカル・トゥース・クリーニング（Professional Mechanical Tooth Cleaning）の略称です。タバコのヤニや茶渋などの歯の表面に付いた汚れを取り除く方法です。</p>
						</li>
						<!-- ▲▲サービス4ここまで▲▲ -->
					</ul>
					<p class="pagetop"><a href="#wrap">ページトップへもどる</a></p>
				</div>
				<!-- ▲▲サービスカテゴリ2ここまで▲▲ -->
			</div>
			<div id="sub_area">
				<!-- ▼▼サイドナビゲーション1ここから▼▼ -->
				<div class="sub_navi">
				<h2>一般歯科</h2>
					<ul>
						<li><a href="service.html#s_01_01">虫歯治療</a></li>
						<li><a href="service.html#s_01_02">歯周病治療</a></li>
						<li><a href="service.html#s_01_03">入れ歯</a></li>
						<li><a href="service.html#s_01_04">予防歯科</a></li>
					</ul>
				</div>
				<!-- ▲▲サイドナビゲーション1ここまで▲▲ -->
				<!-- ▼▼サイドナビゲーション2ここから▼▼ -->
				<div class="sub_navi">
					<h2>審美歯科</h2>
					<ul>
						<li><a href="service.html#s_02_01">ホワイトニング</a></li>
						<li><a href="service.html#s_02_02">オールセラミック</a></li>
						<li><a href="service.html#s_02_03">セラミックインレー</a></li>
						<li><a href="service.html#s_02_04">PMTC</a></li>
					</ul>
				</div>
				<!-- ▲▲サイドナビゲーション2ここまで▲▲ -->
				<div id="contact">
					<!-- ▼お問い合わせタイトル -->
					<h2>お問い合わせ</h2>
					<dl>
						<!-- ▼▼お問い合わせここから▼▼ -->
						<dt>住所</dt>
						<dd>千代田区一ツ橋1-1-1</dd>
						<dt>E-mail</dt>
						<dd>info@xxxx.xxx</dd>
						<dt>Tel</dt>
						<dd>00-0000-0000</dd>
						<dt>受付時間</dt>
						<dd>月～金曜：10時～19時<br />
						土曜：10時～13時<br />
						日曜・祝日：休診</dd>
						<!-- ▲▲お問い合わせここまで▲▲ -->
					</dl>
				</div>
			</div>
		</div>
		<p id="contents_footer"><img src="components/img/bg_contents_footer.png" width="864" height="21" alt="" /></p>
	</div>
	<!-- ▼コピーライト -->
	<address>&copy; 2011 Mainichi Dental Clinic. All rights reserved.</address>
</body>
</html>
