<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Column｜NATURE PHOTOGRAPHY</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="NATURE PHOTOGRAPHY" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">專門拍攝自然的照片<br />
			攝影集NATU的網站</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="profile.html">Profile</a></li>
				<li id="navi_03"><a href="works.html">Works</a></li>
				<li id="navi_04"><a href="schedule.html">Schedule</a></li>
				<li id="navi_05"><a href="column.html">Column</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站介紹從此開始▼▼ -->
				<p class="title">Profile</p>
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="介紹照片" /></a></p>
				<p class="name">NATU</p>
				<p class="text">讓大家更喜愛自然的攝影集。只要有時間就會進行全國巡迴。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站介紹到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<div id="contents">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>Column</h2>
					<!-- ▼內容説明 -->
					<p class="copy">對攝影的堅持。</p>
				</div>
				<div class="column clearfix">
					<!-- ▼專欄標題 -->
					<h3>對攝影的堅持 Vol.3</h3>
					<div class="column_text">
						<!-- ▼專欄小標 -->
						<h4>攝影方法探討。<br />
						您都如何面對大自然。</h4>
						<!-- ▼▼專欄內容從此開始▼▼ -->
						<p>我花了10年的時間才確立了自己到全國各地拍攝旅行照片的風格。每一座山、每一片海、每一個鄉鎮都有自己的表情，因此為了要掌握這些表情的特徵，就必須跟著改變自己的拍攝手法。簡單來說，不同個性的攝影師將拍出截然不同的照片，您也必須了解該如何拍出每一處風景的個性才行。</p>
						<p>不厭其煩地再說一次，我花了10年的時間才確立了自己到全國各地拍攝旅行照片的風格。每一座山、每一片海、每一個鄉鎮都有自己的表情，因此為了要掌握這些表情的特徵，就必須跟著改變自己的拍攝手法。簡單來說，不同個性的攝影師將拍出截然不同的照片，您也必須了解該如何拍出每一處風景的個性才行。</p>
						<p>最後再重說一次，我花了10年的時間才確立了自己到全國各地拍攝旅行照片的風格。每一座山、每一片海、每一個鄉鎮都有自己的表情，因此為了要掌握這些表情的特徵，就必須跟著改變自己的拍攝手法。簡單來說，不同個性的攝影師將拍出截然不同的照片，您也必須了解該如何拍出每一處風景的個性才行。雖然有點冗長，但這就是我對攝影的堅持。</p>
						<!-- ▲▲專欄內容到此為止▲▲ -->
					</div>
					<ul class="column_photo">
						<!-- ▼▼專欄照片從此開始▼▼ -->
						<li><img src="img/column_01_01.jpg" width="250" height="250" alt="山" /></li>
						<li><img src="img/column_01_02.jpg" width="250" height="250" alt="雪山" /></li>
						<!-- ▲▲專欄照片到此為止▲▲ -->
					</ul>
				</div>
				<div id="backnumber">
					<!-- ▼▼舊刊刊號從此開始▼▼ -->
					<h4>舊刊刊號</h4>
					<ul>
						<li>攝影的堅持 Vol.3</li>
						<li><a href="#">攝影的堅持 Vol.2</a></li>
						<li><a href="#">攝影的堅持 Vol.1</a></li>
					</ul>
					<!-- ▲▲舊刊刊號到此為止▲▲ -->
				</div>
			</div>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 NATURE PHOTOGRAPHY. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
