<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>NATURE PHOTOGRAPHY</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="components/css/lightbox.css" type="text/css">
<script src="components/js/prototype.js" type="text/javascript"></script>
<script src="components/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="components/js/lightbox.js" type="text/javascript"></script>
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="NATURE PHOTOGRAPHY" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">專門拍攝自然的照片<br />
			攝影集NATU的網站</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="profile.html">Profile</a></li>
				<li id="navi_03"><a href="works.html">Works</a></li>
				<li id="navi_04"><a href="schedule.html">Schedule</a></li>
				<li id="navi_05"><a href="column.html">Column</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站介紹從此開始▼▼ -->
				<p class="title">Profile</p>
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="介紹照片" /></a></p>
				<p class="name">NATU</p>
				<p class="text">讓大家更喜愛自然的攝影集。只要有時間就會進行全國巡迴。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站介紹到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<!-- ▼主圖 -->
			<p id="main"><img src="img/main.jpg" alt="沖繩的海" width="700" height="350" /><p>
			<div class="tit_top">
				<!-- ▼近期作品標題 -->
				<h2>Recent Works</h2>
				<!-- ▼近期作品説明 -->
				<p class="copy">向您介紹近期的作品。</p>
			</div>
			<ul class="pickup clearfix">
				<!-- ▼▼近期作品1從此開始▼▼ -->
				<li>
					<p class="photo"><a href="img/pickup/pickup_01.jpg" rel="lightbox[pickup]" title="山毛櫸"><img src="img/pickup/pickup_th_01.jpg" width="150" height="150" alt="山毛櫸 照片" /></a></p>
					<h3>山毛櫸</h3>
					<p class="date">2011.09.12</p>
				</li>
				<!-- ▲▲近期作品1到此為止▲▲ -->
				<!-- ▼▼近期作品2從此開始▼▼ -->
				<li>
					<p class="photo"><a href="img/pickup/pickup_02.jpg" rel="lightbox[pickup]" title="海中的魚"><img src="img/pickup/pickup_th_02.jpg" width="150" height="150" alt="海中的魚 照片" /></a></p>
					<h3>海中的魚</h3>
					<p class="date">2011.09.11</p>
				</li>
				<!-- ▲▲近期作品2到此為止▲▲ -->
				<!-- ▼▼近期作品3從此開始▼▼ -->
				<li>
					<p class="photo"><a href="img/pickup/pickup_03.jpg" rel="lightbox[pickup]" title="山脈"><img src="img/pickup/pickup_th_03.jpg" width="150" height="150" alt="山脈 照片" /></a></p>
					<h3>山脈</h3>
					<p class="date">2011.09.10</p>
				</li>
				<!-- ▲▲近期作品3到此為止▲▲ -->
				<!-- ▼▼近期作品4從此開始▼▼ -->
				<li>
					<p class="photo"><a href="img/pickup/pickup_04.jpg" rel="lightbox[pickup]" title="9月的天空"><img src="img/pickup/pickup_th_04.jpg" width="150" height="150" alt="9月的天空 照片" /></a></p>
					<h3>9月的天空</h3>
					<p class="date">2011.09.09</p>
				</li>
				<!-- ▲▲近期作品4到此為止▲▲ -->
			</ul>
			<div class="tit_top">
				<!-- ▼網站公告標題 -->
				<h2>Information</h2>
				<!-- ▼網站公告説明 -->
				<p class="copy">NATURE PHOTOGRAPHY的網站公告。</p>
			</div>
			<ul class="info clearfix">
				<!-- ▼▼網站公告從此開始▼▼ -->
				<li>
					<p class="photo"><a href="schedule.html"><img src="img/info_01.jpg" width="80" height="80" alt="公益攝影展" /></a></p>
					<p class="date">2011.10.29</p>
					<p class="text"><a href="schedule.html">參加於毎日藝廊舉辦的公益攝影展。</a></p>
				</li>
				<li>
					<p class="photo"><a href="schedule.html"><img src="img/info_02.jpg" width="80" height="80" alt="照片座談會" /></a></p>
					<p class="date">2011.09.05</p>
					<p class="text"><a href="schedule.html">「拍攝自然之美！」以講師的身份參加照片座談會。</a></p>
				</li>
				<!-- ▲▲網站公告到此為止▲▲ -->
			</ul>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 NATURE PHOTOGRAPHY. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
