<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Profile｜NATURE PHOTOGRAPHY</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="NATURE PHOTOGRAPHY" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">專門拍攝自然的照片<br />
			攝影集NATU的網站</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="profile.html">Profile</a></li>
				<li id="navi_03"><a href="works.html">Works</a></li>
				<li id="navi_04"><a href="schedule.html">Schedule</a></li>
				<li id="navi_05"><a href="column.html">Column</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站介紹從此開始▼▼ -->
				<p class="title">Profile</p>
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="介紹照片" /></a></p>
				<p class="name">NATU</p>
				<p class="text">讓大家更喜愛自然的攝影集。只要有時間就會進行全國巡迴。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站介紹到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<div id="contents">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>Profile</h2>
					<!-- ▼內容說明 -->
					<p class="copy">向您簡介NATU。</p>
				</div>
				<div class="prof_about clearfix">
					<!-- ▼簡介照片 -->
					<p class="photo"><img src="img/profile_01.jpg" width="200" height="200" alt="簡介照片" /></p>
					<dl>
						<!-- ▼▼簡介從此開始▼▼ -->
						<dt>姓名</dt>
						<dd>NATU</dd>
						<dt>生年月日</dt>
						<dd>1975.02.14</dd>
						<dt>戶籍</dt>
						<dd>沖繩</dd>
						<dt>性別</dt>
						<dd>男</dd>
						<dt>興趣</dt>
						<dd>釣魚、攀岩、馬拉松</dd>
						<dt>專長</dt>
						<dd>展開全國攝影之旅。</dd>
						<!-- ▲▲簡介到此為止▲▲ -->
					</dl>
				</div>
				<!-- ▼連絡方式 -->
				<p class="contact">如有工作洽談，請將內容寄至這裡　<strong>contact@xxxx.xxx</strong></p>
				<!-- ▼▼列表欄1從此開始▼▼ -->
				<div class="data">
					<h3>簡歴</h3>
					<dl>
						<dt>1975年2月</dt>
						<dd>於沖繩出生。</dd>
						<dt>1995年4月</dt>
						<dd>在攝影專校學習如何拍攝照片。</dd>
						<dt>1998年2月</dt>
						<dd>從專校畢業後，拜風景照片家「每日真人」為師。</dd>
						<dt>2005年6月</dt>
						<dd>eeeeeeeeeee以自由記者為職。建立本網站「NATURE PHOTOGRAPHY」。</dd>
						<dt>2011年9月</dt>
						<dd>與風景照片大賽中得到金牌。</dd>
					</dl>
				</div>
				<!-- ▲▲列表欄1到此為止▲▲ -->
				<!-- ▼▼列表欄2從此開始▼▼ -->
				<div class="data">
					<h3>過去的工作、展覽一覧表</h3>
					<dl>
						<dt>2005年7月</dt>
						<dd>向雜誌・毎日攝影集投稿。</dd>
						<dt>2006年10月</dt>
						<dd>參加攝影論壇舉辦的風景照片展。</dd>
						<dt>2007年4月</dt>
						<dd>在每日雜誌上發表沖繩風景照片。</dd>
						<dt>2008年11月</dt>
						<dd>「沖繩的海洋風景照片月曆」發售。</dd>
					</dl>
				</div>
				<!-- ▲▲列表欄2到此為止▲▲ -->
			</div>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 NATURE PHOTOGRAPHY. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
