<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Schedule｜NATURE PHOTOGRAPHY</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_04">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="NATURE PHOTOGRAPHY" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">專門拍攝自然的照片<br />
			攝影集NATU的網站</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">Home</a></li>
				<li id="navi_02"><a href="profile.html">Profile</a></li>
				<li id="navi_03"><a href="works.html">Works</a></li>
				<li id="navi_04"><a href="schedule.html">Schedule</a></li>
				<li id="navi_05"><a href="column.html">Column</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站介紹從此開始▼▼ -->
				<p class="title">Profile</p>
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="介紹照片" /></a></p>
				<p class="name">NATU</p>
				<p class="text">讓大家更喜愛自然的攝影集。只要有時間就會進行全國巡迴。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站介紹到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<div id="contents">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>Schedule</h2>
					<!-- ▼內容説明 -->
					<p class="copy">工作與展覽的行程表。</p>
				</div>
				<!-- ▼▼行程表1從此開始▼▼ -->
				<div class="schedule">
					<h3>2011年9月</h3>
					<ul>
						<!-- ▼▼活動1從此開始▼▼ -->
						<li class="clearfix">
							<h4>2011年9月29日～10月2日　公益攝影展參加公告</h4>
							<p class="photo"><img src="img/schedule_01_01.jpg" width="250" height="150" alt="公益攝影展" /></p>
							<p class="text">參加毎日藝廊舉辦的公益攝影展。<br />
							可以平價購得喜歡的作品，請您務必來參觀。<br />
							<a href="#">攝影展官方網站請點選此處</a></p>
						</li>
						<!-- ▲▲活動1到此為止▲▲ -->
						<!-- ▼▼活動2從此開始▼▼ -->
						<li class="clearfix">
							<h4>2011年9月5日　「拍攝自然之美！」攝影座談會舉辦通知</h4>
							<p class="photo"><img src="img/schedule_01_02.jpg" width="250" height="150" alt="照片座談會" /></p>
							<p class="text">將以講師身份參加每日溝通大廳舉辦的「拍攝自然之美！」攝影座談會。<br />
							參加方式請見座談會官方網站。<br />
							<a href="#">座談會官方網站請點選此處</a></p>
						</li>
						<!-- ▲▲活動2到此為止▲▲ -->
					</ul>
				</div>
				<!-- ▲▲行程表1到此為止▲▲ -->
				<!-- ▼▼行程表2從此開始▼▼ -->
				<div class="schedule">
					<h3>2011年8月</h3>
					<ul>
						<!-- ▼▼活動1從此開始▼▼ -->
						<li class="clearfix">
							<h4>將於2011年8月12日銷售的每日雜誌發表照片</h4>
							<p class="photo"><img src="img/schedule_02_01.jpg" width="250" height="150" alt="週刊毎日" /></p>
							<p class="text">開始於每日週刊發表沖繩的大海照片。<br />
							同時也向攝影專欄投稿。<br />
							請您務必移駕書店購買。<br />
							<a href="#">每日週刊官方網站請點選此處</a></p>
						</li>
						<!-- ▲▲活動1到此為止▲▲ -->
					</ul>
				</div>
				<!-- ▲▲行程表2到此為止▲▲ -->
			</div>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 NATURE PHOTOGRAPHY. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
