@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

/*---------------*/
/*	 html, body	 */
/*---------------*/
html, body{
	line-height:28px;	
	font-family: 'cwTeXFangSong', serif;
	background-color:#CFC;
	font-size:15px;
}



/*---------------*/
/*	 container	 */
/*---------------*/
div.container{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #036;
	box-shadow:0px 0px 10px 1px #000000;
}


/*---------------*/
/*	 header	 */
/*---------------*/
div.header{
	height:150px;
	line-height:150px;
	background:#FFC;
	padding-left:25px;
	color:#A65ECC;
}

div.header h1{
	margin:0;
	font-weight:500;
}

/*---------------*/
/*	 content	 */
/*---------------*/
div.content{
	text-align:justify;
	padding:20px 25px;
	background:#CCC;
}

div.content span.first{
	font-size:24px;
}

div.content h2{
	font-weight:500;
	border-left:8px solid #F00;
	padding-left:12px;
}