<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>IT Management Service</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="IT Management Service" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">為各位顧客的生意提供專屬的IT服務</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01">
					<a href="index.html">首頁<br />
					<span>TopPage</span></a>
				</li>
				<li id="navi_02">
					<a href="service1.html">IT方案<br />
					<span>IT Solutions</span></a>
				</li>
				<li id="navi_03">
					<a href="service2.html">IT服務<br />
					<span>IT Service</span>
					</a>
				</li>
				<li id="navi_04">
					<a href="faq.html">常見問題<br />
					<span>FAQ</span></a>
				</li>
				<li id="navi_05">
					<a href="company.html">公司簡介<br />
					<span>Company</span></a>
				</li>
				<!-- ▲▲導覽列到此為止▼▼ -->
			</ul>
		</div>
		<div id="contents" class="clearfix">
			<div id="main_area">
				<div id="main">
					<h2>我們提供高品質的IT方案以及<br />
					依照客戶需求提供專屬的IT服務。</h2>
					<p>我們能依照顧客的商業模式<br />
					提供最適當的IT方案。<br />
					幫助顧客在商業模式上創新，同時提供品牌價值<br />
					在促進業績成長之餘，更能提供生產效率。</p>
				</div>
				<div id="topics">
					<!-- ▼主題標題 -->
					<h3>TOPICS</h3>
					<ul>
						<!-- ▼▼主題1從此開始▼▼ -->
						<li>
							<p class="photo"><a href="service1.html"><img src="img/topics_01.jpg" width="90" height="90" alt="ITソリューション" /></a></p>
							<h4>IT方案</h4>
							<p class="text">在此介紹敝公司提供的IT方案。</p>
							<p class="more"><a href="service1.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題1到此為止▼▼ -->
						<!-- ▼▼主題2從此開始▼▼ -->
						<li>
							<p class="photo"><a href="service2.html"><img src="img/topics_02.jpg" width="90" height="90" alt="IT服務" /></a></p>
							<h4>IT服務</h4>
							<p class="text">在此介紹敝公司提供的IT服務。</p>
							<p class="more"><a href="service2.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題2到此為止▼▼ -->
						<!-- ▼▼主題3從此開始▼▼ -->
						<li>
							<p class="photo"><a href="faq.html"><img src="img/topics_03.jpg" width="90" height="90" alt="常見問題" /></a></p>
							<h4>常見問題</h4>
							<p class="text">請您先仔細閱讀所有常見問題。</p>
							<p class="more"><a href="faq.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題3到此為止▼▼ -->
						<!-- ▼▼主題4從此開始▼▼ -->
						<li>
							<p class="photo"><a href="company.html"><img src="img/topics_04.jpg" width="90" height="90" alt="公司簡介" /></a></p>
							<h4>公司簡介</h4>
							<p class="text">在此為您介紹敝公司的沿革與相關資訊。</p>
							<p class="more"><a href="company.html">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲主題4到此為止▼▼ -->
					</ul>
				</div>
				<div id="information">
					<!-- ▼網站公告標題 -->
					<h3>新近資訊</h3>
					<dl>
						<!-- ▼▼網站公告從此開始▼▼ -->
						<dt>2011.09.21</dt>
						<dd><a href="faq.html">常見問題更新了。</a></dd>
						<dt>2011.09.18</dt>
						<dd><a href="service1.html">我們提供了新的IT方案。</a></dd>
						<dt>2011.09.15</dt>
						<dd><a href="company.html">公司簡介更新了。</a></dd>
						<dt>2011.08.28</dt>
						<dd>敝公司將於8月10日～8月15日暑休。</dd>
						<dt>2011.08.12</dt>
						<dd>網站改版了。</dd>
						<!-- ▲▲網站公告到此為止▼▼ -->
					</dl>
				</div>
			</div>
			<div id="sub_area">
				<!-- ▼▼網站導覽列1從此開始▼▼ -->
				<div class="sub_navi">
					<h2>IT方案</h2>
					<ul>
						<li><a href="service1.html#s_01">安全性</a></li>
						<li><a href="service1.html#s_02">網路監控</a></li>
						<li><a href="service1.html#s_03">外包服務</a></li>
						<li><a href="service1.html#s_04">系統管理</a></li>
						<li><a href="service1.html#s_05">虛擬化</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列1到此為止▼▼ -->
				<!-- ▼▼網站導覽列2從此開始▼▼ -->
				<div class="sub_navi">
					<h2>IT服務</h2>
					<ul>
						<li><a href="service2.html#s_01">導入與運用</a></li>
						<li><a href="service2.html#s_02">維護服務</a></li>
						<li><a href="service2.html#s_03">管理服務</a></li>
						<li><a href="service2.html#s_04">洽詢服務</a></li>
						<li><a href="service2.html#s_05">資料中心服務</a></li>
					</ul>
				</div>
				<!-- ▲▲網站導覽列2到此為止▼▼ -->
				<div id="contact">
					<!-- ▼線上客服標題 -->
					<h2>線上客服</h2>
					<dl>
						<!-- ▼▼線上客服從此開始▼▼ -->
						<dt>E-mail</dt>
						<dd>info@xxxx.xxx</dd>
						<dt>Tel</dt>
						<dd>00-0000-0000</dd>
						<dt>受理時間</dt>
						<dd>星期一～五<br />
						10點～18點</dd>
						<!-- ▲▲線上客服到此為止▼▼ -->
					</dl>
				</div>
			</div>
		</div>
		<div id="footer">
			<p><img src="components/img/contents_footer.png" width="870" height="20" alt="" /></p>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 IT Management Service. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
