<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>ORGANIC LIFE STORE</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
<script src="components/js/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="components/js/slide.js" type="text/javascript"></script>
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="ORGANIC LIFE STORE" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy"><span>全國共16處營業據點，專門提供嚴選有機蔬菜。</span></p>
		</div>
		<ul id="navi">
			<!-- ▼▼導覽列從此開始▼▼ -->
			<li id="navi_01"><a href="index.html">首頁</a></li>
			<li id="navi_02"><a href="news.html">最新訊息</a></li>
			<li id="navi_03"><a href="concept.html">網站概念</a></li>
			<li id="navi_04"><a href="products.html">商品介紹</a></li>
			<li id="navi_05"><a href="shop.html">店舖導覽</a></li>
			<!-- ▲▲導覽列到此為止▲▲ -->
		</ul>
		<div id="contents">
			<div id="main">
				<p><img src="components/img/main_header.png" width="870" height="10" alt="" /></p>
				<ul id="slide_btn">
					<li id="slide_btn_next"><a href="#">下一張</a></li>
					<li id="slide_btn_back"><a href="#">上一張</a></li>
				</ul>
				<div id="slide_img">
					<ul>
						<!-- ▼▼幻燈片從此開始▼▼ -->
						<li><img src="img/slide/slide_01.jpg" width="850" height="320" alt="幻燈片1" /></li>
						<li><img src="img/slide/slide_02.jpg" width="850" height="320" alt="幻燈片2" /></li>
						<li><img src="img/slide/slide_03.jpg" width="850" height="320" alt="幻燈片3" /></li>
						<!-- ▲▲幻燈片到此結束▲▲ -->
					</ul>
				</div>
				<p><img src="components/img/main_footer.png" width="870" height="10" alt="" /></p>
			</div>
			<ul id="pickup" class="clearfix">
				<li class="pickup_01">
					<p><img src="components/img/pickup_header.png" width="250" height="10" alt="" /></p>
					<div class="pickup_contents">
					<!-- ▼▼重點商品1▼▼ -->
						<p><a href="products.html#cat_02"><img src="img/pickup_01.jpg" width="230" height="130" alt="紅蘿蔔 照片" /></a></p>
						<h2><img src="components/img/icon_pickup.png" width="50" height="16" alt="PICK UP" /><a href="products.html#cat_02">紅蘿蔔</a></h2>
						<p class="text">水嫩嫩的紅蘿蔔。直接作成沙拉也好吃。</p>
						<!-- ▲▲重點商品1到此為止▲▲ -->
					</div>
					<p><img src="components/img/pickup_footer.png" width="250" height="10" alt="" /></p>
				</li>
				<li class="pickup_02">
					<p><img src="components/img/pickup_header.png" width="250" height="10" alt="" /></p>
					<div class="pickup_contents">
						<!-- ▼▼重點商品2從此開始▼▼ -->
						<p><a href="products.html#cat_02"><img src="img/pickup_02.jpg" width="230" height="130" alt="綠蕃茄 照片" /></a></p>
						<h2><img src="components/img/icon_pickup.png" width="50" height="16" alt="PICK UP" /><a href="products.html#cat_02">綠蕃茄</a></h2>
						<p class="text">回味無窮的綠蕃茄！今年也登場囉。</p>
						<!-- ▲▲重點商品2到此為止▲▲ -->
					</div>
					<p><img src="components/img/pickup_footer.png" width="250" height="10" alt="" /></p>
				</li>
			</ul>
			<div id="info_new">
				<div id="info">
					<p><img src="components/img/info_header.png" width="600" height="10" alt="" /></p>
					<!-- ▼網站公告標題 -->
					<h2>Information</h2>
					<dl class="clearfix">
						<!-- ▼▼網站公告從此開始▼▼ -->
						<dt>2011.09.21</dt>
						<dd>活動資訊已公佈。<a href="news.html">詳情請點選這裡</a>。</dd>
						<dt>2011.09.20</dt>
						<dd><a href="shop.html">店舗資訊</a>更新了。</dd>
						<dt>2011.09.19</dt>
						<dd>新增了<a href="products.html">黃椒菜單</a>。</dd>
					<!-- ▲▲網站公告到此為止▲▲ -->
					</dl>
					<p><img src="components/img/info_footer.png" width="600" height="10" alt="" /></p>
				</div>
				<div id="new">
					<p><img src="components/img/new_header.png" width="600" height="10" alt="" /></p>
					<div id="new_contents">
						<!-- ▼▼商品從此開始▼▼ -->
						<h2>New Arrivals</h2>
						<ul class="clearfix">
							<!-- ▼▼商品1從此開始▼▼ -->
							<li>
								<p class="new_img"><a href="products.html#cat_01"><img src="img/new_01.jpg" width="80" height="80" alt="黃椒 照片" /></a></p>
								<div class="new_detail">
									<h3><a href="products.html#cat_01">黃椒</a></h3>
									<p class="text">豐富的色彩能讓胃口大開！</p>
								</div>
							</li>
							<!-- ▲▲商品1到此為止▲▲ -->
							<!-- ▼▼商品2從此開始▼▼ -->
							<li>
								<p class="new_img"><a href="products.html#cat_01"><img src="img/new_02.jpg" width="80" height="80" alt="白菜 照片" /></a></p>
								<div class="new_detail">
									<h3><a href="products.html#cat_01">白菜</a></h3>
									<p class="text">新鮮的白菜總能帶來鮮脆的口感。</p>
								</div>
							</li>
							<!-- ▲▲商品2到此為止▲▲ -->
							<!-- ▼▼商品3從此開始▼▼ -->
							<li>
								<p class="new_img"><a href="products.html#cat_01"><img src="img/new_03.jpg" width="80" height="80" alt="小蕃茄 照片" /></a></p>
								<div class="new_detail">
									<h3><a href="products.html#cat_01">小蕃茄</a></h3>
									<p class="text">適合當作便當菜的迷你尺寸。</p>
								</div>
							</li>
							<!-- ▲▲商品3到此為止▲▲ -->
							<!-- ▼▼商品4從此開始▼▼ -->
							<li>
								<p class="new_img"><a href="products.html#cat_05"><img src="img/new_04.jpg" width="80" height="80" alt="馬鈴薯 照片" /></a></p>
								<div class="new_detail">
									<h3><a href="products.html#cat_05">馬鈴薯</a></h3>
									<p class="text">維他命C超豐富的馬鈴薯。</p>
								</div>
							</li>
							<!-- ▲▲商品4到此為止▲▲ -->
							<!-- ▼▼商品5從此開始▼▼ -->
							<li>
								<p class="new_img"><a href="products.html#cat_03"><img src="img/new_05.jpg" width="80" height="80" alt="款冬 照片" /></a></p>
								<div class="new_detail">
									<h3><a href="products.html#cat_03">款冬</a></h3>
									<p class="text">讓人上癮的苦味。請將款冬作成天婦羅食用。</p>
								</div>
							</li>
							<!-- ▲▲商品5到此為止▲▲ -->
							<!-- ▼▼商品6從此開始▼▼ -->
							<li>
								<p class="new_img"><a href="products.html#cat_04"><img src="img/new_06.jpg" width="80" height="80" alt="茄子 写真" /></a></p>
								<div class="new_detail">
									<h3><a href="products.html#cat_04">茄子</a></h3>
									<p class="text">又大又鮮嫩的茄子。</p>
								</div>
							</li>
							<!-- ▲▲商品6到此為止▲▲ -->
						</ul>
						<!-- ▲▲商品到此為止▲▲ -->
					</div>
					<p><img src="components/img/new_footer.png" width="600" height="10" alt="" /></p>
				</div>
			</div>
		</div>
		<div id="footer">
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 ORGANIC LIFE STORE. All rights reserved.</address>
		</div>
	</div>
</body>
</html>
