<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>店舖簡介｜Beauty Nail Salon</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Beauty Nail Salon" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">竹橋美甲沙龍</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01">
					<a href="index.html">首頁<br />
					<span>HOME</span></a>
				</li>
				<li id="navi_02">
					<a href="concept.html">店舖簡介<br />
					<span>SHOP</span></a>
				</li>
				<li id="navi_03">
					<a href="menu.html">療程簡介<br />
					<span>MENU</span></a>
				</li>
				<li id="navi_04">
					<a href="price.html">收費標準<br />
					<span>PRICE</span></a>
				</li>
				<li id="navi_05">
					<a href="access.html">交通方式<br />
					<span>ACCESS</span></a>
				</li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="title">
			<!-- ▼內容説明 -->
			<p class="copy">SHOP</p>
			<!-- ▼內容標題 -->
			<h2>店舖簡介</h2>
		</div>
		<div id="contents" class="clearfix">
			<ul id="concept_text">
				<!-- ▼▼概念1從此開始▼▼ -->
				<li>
					<h3>何謂Beauty Nail Salon？</h3>
					<p class="text">最近越來越多人重視指甲的健康，也越來越多人開始接受美甲服務，而Beauty Nail Salon所提供的美甲服務能讓忙碌的女性時時照顧到自己的門面，不致於失禮於人。<br />
					如果您對美甲服務有任何疑問，請您交給本店為您服務。</p>
				</li>
				<!-- ▲▲概念1到此為止▲▲ -->
				<!-- ▼▼概念2從此開始▼▼ -->
				<li>
					<h3>第一次來店的客人也請放心</h3>
					<p class="text">我們將提供指甲健康洽詢服務。<br />
					指甲常龜列…<br />
					指甲常斷裂…<br />
					自行美甲導致指甲變得黃黃的…<br />
					都請您來店洽詢。<br />
					指甲光療・指甲彩繪那一種最適合？日常又該如何保養，歡迎來店洽詢。</p>
				</li>
				<!-- ▲▲概念2到此為止▲▲ -->
				<!-- ▼▼概念3從此開始▼▼ -->
				<li>
					<h3>完全放鬆的空間。</h3>
					<p class="text">Beauty Nail Salon就像自家一樣輕鬆，能在美麗的環境裡讓指甲變得更美麗。</p>
				</li>
				<!-- ▲▲概念3到此為止▲▲ -->
			</ul>
			<ul id="concept_img">
				<!-- ▼▼概念圖片從此開始▼▼ -->
				<li><img src="img/concept_01.jpg" width="200" alt="美甲" /></li>
				<li><img src="img/concept_02.jpg" width="200" alt="健康洽詢" /></li>
				<li><img src="img/concept_03.jpg" width="200" alt="內部裝潢" /></li>
				<!-- ▲▲概念圖片到此為止▲▲ -->
			</ul>
		</div>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Beauty Nail Salon. All rights reserved.</address>
</body>
</html>
