<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>收費標準｜Beauty Nail Salon</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_04">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Beauty Nail Salon" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">竹橋美甲沙龍</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01">
					<a href="index.html">首頁<br />
					<span>HOME</span></a>
				</li>
				<li id="navi_02">
					<a href="concept.html">店舖簡介<br />
					<span>SHOP</span></a>
				</li>
				<li id="navi_03">
					<a href="menu.html">療程簡介<br />
					<span>MENU</span></a>
				</li>
				<li id="navi_04">
					<a href="price.html">收費標準<br />
					<span>PRICE</span></a>
				</li>
				<li id="navi_05">
					<a href="access.html">交通方式<br />
					<span>ACCESS</span></a>
				</li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="title">
			<!-- ▼內容説明 -->
			<p class="copy">PRICE</p>
			<!-- ▼內容標題 -->
			<h2>收費標準</h2>
		</div>
		<ul id="contents" class="clearfix">
			<!-- ▼▼費用1從此開始▼▼ -->
			<li>
				<h3>指甲保養療程　30分～</h3>
				<p>手部、指甲保養的基本療程。</p>
				<ul>
					<li>指甲保養與彩繪／橘皮組織去除／指甲拋光／上色・上油）　4,300元</li>
					<li>指甲保養療程（指甲保養／橘皮組織去除／指甲拋光）　2,000元</li>
					<li>男性指甲保養療程（指甲保養／橘皮組織去除／指甲拋光）　3,000元</li>
				</ul>
			</li>
			<!-- ▲▲費用1到此為止▲▲ -->
			<!-- ▼▼費用2從此開始▼▼ -->
			<li>
				<h3>指甲彩繪療程　100分～</h3>
				<p>指甲彩繪使用的是水晶粉與水晶溶劑的假指甲。最適合指甲容易斷裂的顧客，可隨心所欲地在指甲加上各式圖案。</p>
				<ul>
					<li>自然風or清新風的指甲彩繪　1,000元／1指</li>
					<li>法式指甲彩繪（全甲片）　1,700元／1指</li>
				</ul>
			</li>
			<!-- ▲▲費用2到此為止▲▲ -->
			<!-- ▼▼費用3從此開始▼▼ -->
			<li>
				<h3>軟式光療療程　100分～</h3>
				<p>光療指甲與原本的指甲一樣自然。</p>
				<ul>
					<li>指甲保養　300元／1指　※在本店購買美甲服務可免費保養。</li>
					<li>光療指甲清理（基本技術費／橘皮組織去除／指甲保養）　6,300元／10指</li>
					<li>藝術美甲　1500元～／10指</li>
				</ul>
			</li>
			<!-- ▲▲費用3到此為止▲▲ -->
			<!-- ▼▼費用4從此開始▼▼ -->
			<li>
				<h3>足部美甲療程　90分</h3>
				<p>足部保養是追尋時尚不可或缺的一環，讓腳部也美麗一下吧。</p>
				<ul>
					<li>足部美甲療程（足浴／足部保養／橘皮組織去除／指甲拋光／去除角質／足部按摩）　5,000元</li>
					<li>足部保養（指甲保養／橘皮組織去除／指甲拋光）　6,300元／10指</li>
					<li>男性足部保養療程（足浴／足部保養／橘皮組織去除／指甲拋光／去除角質／足部按摩）　5,000元</li>
				</ul>
			</li>
			<!-- ▲▲費用4到此為止▲▲ -->
		</ul>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Beauty Nail Salon. All rights reserved.</address>
</body>
</html>
