@charset "utf-8";
/* CSS Document */

div.container{
	width:800px;
	margin-left:auto;		/* 左邊界 */
	margin-right:auto;		/* 右邊界 */
	box-sizing:border-box;	/* 邊界連邊線、留白一起計算 */
}


div.header{
	height:100px;
	line-height:100px;		
	background:#9C9;
	font-size:40px;
	/*text-align:center;*/
	padding-left:20px;
}


div.content{
	text-align:justify;		/* 文字左右對齊 */
	background:#CCC;
	padding:20px;			/* 留白(內邊界) */
}