<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Handmade Dialy</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="components/css/lightbox.css" type="text/css">
<script src="components/js/prototype.js" type="text/javascript"></script>
<script src="components/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="components/js/lightbox.js" type="text/javascript"></script>
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Handmade Dialy" /></a></h1>
			<div id="side_copy">
				<p><img src="components/img/copy_header.png" width="180" height="5" alt="" /></p>
				<!-- ▼文案 -->
				<p class="copy">手工小物製作<br />
				毛線・毛氈</p>
				<p><img src="components/img/copy_footer.png" width="180" height="5" alt="" /></p>
			</div>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="profile.html">關於作者</a></li>
				<li id="navi_03"><a href="works.html">手工作品集</a></li>
				<li id="navi_04"><a href="schedule.html">活動行程</a></li>
				<li id="navi_05"><a href="link.html">我的最愛</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站簡介從此開始▼▼ -->
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="簡介照片" /></a></p>
				<p class="title">PROFILE</p>
				<p class="name">舞子</p>
				<p class="text">長年在東京製作手工小物。興趣是到處喝咖啡以及收集復古文具。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站簡介到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<p><img src="components/img/main_header.png" width="720" height="10" alt="" /></p>
			<!-- ▼主圖 -->
			<p id="main"><img src="img/main.jpg" alt="Handmade Lace Paper" width="700" height="350" /><p>
			<p><img src="components/img/main_footer.png" width="720" height="10" alt="" /></p>
			<div class="tit_top">
				<!-- ▼近期作品標題 -->
				<h2>RECENT WORKS</h2>
				<!-- ▼近期作品説明 -->
				<p class="copy">我將覺得不錯的作品選為近期作品了。</p>
			</div>
			<ul class="pickup clearfix">
				<!-- ▼▼近期作品1從此開始▼▼ -->
				<li>
					<p class="photo"><a href="img/pickup/pickup_01.jpg" rel="lightbox[pickup]" title="利用尼龍線製作的環保包"><img src="img/pickup/pickup_th_01.jpg" width="150" height="150" alt="利用尼龍線製作的環保包 照片" /></a></p>
					<h3>利用尼龍線<br />
					製作環保包</h3>
				</li>
				<!-- ▲▲近期作品1到此為止▲▲ -->
				<!-- ▼▼近期作品2從此開始▼▼ -->
				<li class="point">
					<p class="photo"><a href="img/pickup/pickup_02.jpg" rel="lightbox[pickup]" title="大丁草與玫瑰的花圈"><img src="img/pickup/pickup_th_02.jpg" width="150" height="150" alt="大丁草與玫瑰的花圈 照片" /></a></p>
					<h3>大丁草與<br />
					玫瑰的花圈</h3>
				</li>
				<!-- ▲▲近期作品2到此為止▲▲ -->
				<!-- ▼▼近期作品3從此開始▼▼ -->
				<li>
					<p class="photo"><a href="img/pickup/pickup_03.jpg" rel="lightbox[pickup]" title="毛氈織的洋梨"><img src="img/pickup/pickup_th_03.jpg" width="150" height="150" alt="毛氈織の洋梨 照片" /></a></p>
					<h3>毛氈織的<br />
					洋梨</h3>
				</li>
				<!-- ▲▲近期作品3到此為止▲▲ -->
				<!-- ▼▼近期作品4從此開始▼▼ -->
				<li class="point">
					<p class="photo"><a href="img/pickup/pickup_04.jpg" rel="lightbox[pickup]" title="香氛蠟蠋"><img src="img/pickup/pickup_th_04.jpg" width="150" height="150" alt="香氛蠟蠋 照片" /></a></p>
					<h3>滿室生香的<br />
					香氛蠟蠋</h3>
				</li>
				<!-- ▲▲近期作品4到此為止▲▲ -->
			</ul>
			<div class="tit_info">
				<!-- ▼網站公告標題 -->
				<h2>INFORMATION</h2>
				<!-- ▼網站公告説明 -->
				<p class="copy">Handmade Dialy的網站公告。</p>
			</div>
			<ul class="info clearfix">
				<!-- ▼▼網站公告從此開始▼▼ -->
				<li>
					<p class="photo"><a href="works.html"><img src="img/info_01.jpg" width="80" height="80" alt="手工作品集" /></a></p>
					<p class="date">2011.09.11</p>
					<p class="text"><a href="works.html">「手工作品集」更新了。請務必瀏覽看看。</a></p>
				</li>
				<li>
					<p class="photo"><a href="schedule.html"><img src="img/info_02.jpg" width="80" height="80" alt="可愛的兒童服飾" /></a></p>
					<p class="date">2011.09.10</p>
					<p class="text"><a href="schedule.html"> 我們將舉辦「可愛的兒童服飾」出版記念活動。</a></p>
				</li>
				<!-- ▲▲網站公告到此為止▲▲ -->
			</ul>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 Handmade Diary. All rights reserved.</address>
		</div>
	</div>
</body>
</html>