<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>我的最愛｜Handmade Dialy</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Handmade Dialy" /></a></h1>
			<div id="side_copy">
				<p><img src="components/img/copy_header.png" width="180" height="5" alt="" /></p>
				<!-- ▼文案 -->
				<p class="copy">手工小物製作<br />
				毛線・毛氈</p>
				<p><img src="components/img/copy_footer.png" width="180" height="5" alt="" /></p>
			</div>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="profile.html">關於作者</a></li>
				<li id="navi_03"><a href="works.html">手工作品集</a></li>
				<li id="navi_04"><a href="schedule.html">活動行程</a></li>
				<li id="navi_05"><a href="link.html">我的最愛</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站簡介從此開始▼▼ -->
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="簡介照片" /></a></p>
				<p class="title">PROFILE</p>
				<p class="name">舞子</p>
				<p class="text">長年在東京製作手工小物。興趣是到處喝咖啡以及收集復古文具。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站簡介到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<p><img src="components/img/main_header.png" width="720" height="10" alt="" /></p>
			<div id="contents">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>我的最愛</h2>
					<!-- ▼內容說明 -->
					<p class="copy">朋友與往來店家的外部連結。</p>
				</div>
				<!-- ▼▼連結1從此開始▼▼ -->
				<div class="link">
					<h3>作家</h3>
					<ul>
						<li>
							<h4><a href="#">蠟蠋作家 hanako小姐</a></h4>
							<p class="text">粉蠟色可愛手工蠟蠋作家・hanako小姐的網站。請務必欣賞她的作品集。</p>
						</li>
						<li>
							<h4><a href="#">毛氈作家 funwari先生</a></h4>
							<p class="text">以鬆軟軟世界觀製作可愛手工毛氈的作家・funwari先生的網站。請務必欣賞他的作品集。</p>
						</li>
						<li>
							<h4><a href="#">彩繪玻璃 作家hikari小姐</a></h4>
							<p class="text">擅長製作超酷設計的手工彩繪玻璃作家・hikari小姐的網站。請務必欣賞她的作品集。</p>
						</li>
						<li>
							<h4><a href="#">器皿作家 shizuka先生</a></h4>
							<p class="text">時尚手工器皿作家・shizuka先生的網站。請務必欣賞他的作品集。</p>
						</li>
					</ul>
				</div>
				<!-- ▲▲連結1到此為止▲▲ -->
				<!-- ▼▼連結2從此開始▼▼ -->
				<div class="link">
					<h3>往來商店列表</h3>
					<ul>
						<li>
							<h4><a href="#">吉祥寺畫廊</a></h4>
							<p class="text">一直都讓我舉辦展覽的吉祥寺畫廊。</p>
						</li>
						<li>
							<h4><a href="#">Zakka Shop</a></h4>
							<p class="text">代代木上原的雜貨店「Zakka Shop」。感謝他們總是讓我寄賣作品。</p>
						</li>
						<li>
							<h4><a href="#">Handmade Net Shop</a></h4>
							<p class="text">收集許多手工雜貨的網路商店「Handmade Net Shop」出品中。</p>
						</li>
					</ul>
				</div>
				<!-- ▲▲連結2到此為止▲▲ -->
			</div>
			<p><img src="components/img/main_footer.png" width="720" height="10" alt="" /></p>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 Handmade Diary. All rights reserved.</address>
		</div>
	</div>
</body>
</html>