<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>關於作者｜Handmade Dialy</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_02">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Handmade Dialy" /></a></h1>
			<div id="side_copy">
				<p><img src="components/img/copy_header.png" width="180" height="5" alt="" /></p>
				<!-- ▼文案 -->
				<p class="copy">手工小物製作<br />
				毛線・毛氈</p>
				<p><img src="components/img/copy_footer.png" width="180" height="5" alt="" /></p>
			</div>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="profile.html">關於作者</a></li>
				<li id="navi_03"><a href="works.html">手工作品集</a></li>
				<li id="navi_04"><a href="schedule.html">活動行程</a></li>
				<li id="navi_05"><a href="link.html">我的最愛</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
			<div id="side_prof">
				<!-- ▼▼網站簡介從此開始▼▼ -->
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="簡介照片" /></a></p>
				<p class="title">PROFILE</p>
				<p class="name">舞子</p>
				<p class="text">長年在東京製作手工小物。興趣是到處喝咖啡以及收集復古文具。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站簡介到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<p><img src="components/img/main_header.png" width="720" height="10" alt="" /></p>
			<div id="contents">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>關於作者</h2>
					<!-- ▼內容説明 -->
					<p class="copy">關於我的一切。</p>
				</div>
				<div class="prof_about clearfix">
					<!-- ▼簡介照片 -->
					<p class="photo"><img src="img/profile_01.jpg" width="200" height="200" alt="簡介照片" /></p>
					<dl>
						<!-- ▼▼簡介從此開始▼▼ -->
						<dt>姓名</dt>
						<dd>舞子</dd>
						<dt>出生年月日</dt>
						<dd>1985.04.14</dd>
						<dt>戶籍</dt>
						<dd>神戸</dd>
						<dt>性別</dt>
						<dd>女</dd>
						<dt>趣味</dt>
						<dd>咖啡巡禮・復古文具收集</dd>
						<dt>特技</dt>
						<dd>把蘋果的皮削成一條。</dd>
						<!-- ▲▲簡介到此為止▲▲ -->
					</dl>
				</div>
				<!-- ▼連絡方式 -->
				<p class="contact">工作與一般事務洽談請點選此處　<strong>contact@xxxx.xxx</strong></p>
				<!-- ▼▼列表欄1從此開始▼▼ -->
				<div class="data">
					<h3>簡歷</h3>
					<dl>
						<dt>1985年4月</dt>
						<dd>在神戶出生。</dd>
						<dt>2008年3月</dt>
						<dd>毎日美術大學染色設計系畢業。</dd>
						<dt>2008年4月</dt>
						<dd>於毎日服飾設計事務所服務。主要從事雜貨小物的設計る。</dd>
						<dt>2010年12月</dt>
						<dd>結婚後辭職，並且搬到東京。</dd>
						<dt>2011年1月</dt>
						<dd>之後便以雜貨小物作家的身份活躍。也建立了專屬的網站。</dd>
					</dl>
				</div>
				<!-- ▲▲列表欄1到此為止▲▲ -->
				<!-- ▼▼列表欄2從此開始▼▼ -->
				<div class="data">
					<h3>到目前為止的工作成果</h3>
					<dl>
						<dt>2011年1月</dt>
						<dd>網站創立。</dd>
						<dt>2011年2月</dt>
						<dd>於吉祥寺畫廊主辦「蕾絲毛織品Coaster展」。</dd>
						<dt>2011年3月</dt>
						<dd>雜誌．每日雜貨生活載開始。</dd>
						<dt>2011年6月</dt>
						<dd>於毛線織品入口網站「編編起舞」創立毛線織品專欄。</dd>
						<dt>2011年7月</dt>
						<dd>於「Zakka Shop」開始提供雜貨商品。</dd>
					</dl>
				</div>
				<!-- ▲▲列表欄2到此為止▲▲ -->
			</div>
			<p><img src="components/img/main_footer.png" width="720" height="10" alt="" /></p>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 Handmade Diary. All rights reserved.</address>
		</div>
	</div>
</body>
</html>