<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>活動行程｜Handmade Dialy</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_04">
	<div id="wrap">
		<div id="side">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Handmade Dialy" /></a></h1>
			<div id="side_copy">
				<p><img src="components/img/copy_header.png" width="180" height="5" alt="" /></p>
				<!-- ▼文案 -->
				<p class="copy">手工小物製作<br />
				毛線・毛氈</p>
				<p><img src="components/img/copy_footer.png" width="180" height="5" alt="" /></p>
			</div>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01"><a href="index.html">首頁</a></li>
				<li id="navi_02"><a href="profile.html">關於作者</a></li>
				<li id="navi_03"><a href="works.html">手工作品集</a></li>
				<li id="navi_04"><a href="schedule.html">活動行程</a></li>
				<li id="navi_05"><a href="link.html">我的最愛</a></li>
				<!-- ▲▲導覽列到此為止▲▲ -->			</ul>
			<div id="side_prof">
				<!-- ▼▼網站簡介從此開始▼▼ -->
				<p><a href="profile.html"><img src="img/side_prof.jpg" width="150" height="150" alt="簡介照片" /></a></p>
				<p class="title">PROFILE</p>
				<p class="name">舞子</p>
				<p class="text">長年在東京製作手工小物。興趣是到處喝咖啡以及收集復古文具。</p>
				<p class="btn_more"><a href="profile.html"><img src="components/img/btn_more.png" width="52" height="20" alt="MORE" /></a></p>
				<!-- ▲▲網站簡介到此為止▲▲ -->
			</div>		
		</div>
		<div id="main_area">
			<p><img src="components/img/main_header.png" width="720" height="10" alt="" /></p>
			<div id="contents">
				<div id="title">
					<!-- ▼內容標題 -->
					<h2>活動行程</h2>
					<!-- ▼內容説明 -->
					<p class="copy">介紹展覽會與雜誌專欄。</p>
				</div>
				<!-- ▼▼行程1從此開始▼▼ -->
				<div class="schedule">
					<h3>2011年9月的行程</h3>
					<ul>
						<!-- ▼▼活動1從此開始▼▼ -->
						<li class="clearfix">
							<h4>9月23日 於吉祥寺畫廊主辦「蕾絲毛線織品Coaster展 Vol.2」</h4>
							<p class="photo"><img src="img/schedule_01_01.jpg" width="250" height="150" alt="蕾絲毛線織品Coaster展" /></p>
							<p class="text">今年2月舉辦了第二次的「蕾絲毛線織品Coaster展」！<br />
							展出許多適合夏天的透風毛線織品。<br />
							有預備了許多新作，請您務必前來參觀。<br />
							<a href="#">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲活動1到此為止▲▲ -->
						<!-- ▼▼活動2從此開始▼▼ -->
						<li class="clearfix">
							<h4>9月10日「可愛的兒童服飾」出版紀念活動開始</h4>
							<p class="photo"><img src="img/schedule_01_02.jpg" width="250" height="150" alt="可愛的兒童服飾" /></p>
							<p class="text">9月10日出刊的「可愛的兒童服飾」（發行單位：MAINICHI出版社）決定舉辦出版紀念活動。<br />
							現場準備了許多符合展出洋服的印象的甜點，請您務必蒞臨現場。<br />
							<a href="#">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲活動2到此為止▲▲ -->
					</ul>
				</div>
				<!-- ▲▲行程1到此為止▲▲ -->
				<!-- ▼▼行程2從此開始▼▼ -->
				<div class="schedule">
					<h3>2011年8月の行程</h3>
					<ul>
						<!-- ▼▼活動1從此開始▼▼ -->
						<li class="clearfix">
							<h4>8月20日「簡單！！環保包的製作方法」銷售公告</h4>
							<p class="photo"><img src="img/schedule_02_01.jpg" width="250" height="150" alt="環保包" /></p>
							<p class="text">於8月20日「簡單！！環保包的製作方法」出刊了（發行單位：MAINICHI出版社）。<br />
							隨手就能製作一個環保包，也隨附樣版。<br />
							請您務必到書店購買。<br />
							<a href="#">詳情請點選此處</a></p>
						</li>
						<!-- ▲▲活動1到此為止▲▲ -->
					</ul>
				</div>
				<!-- ▲▲行程2到此為止▲▲ -->
			</div>
			<p><img src="components/img/main_footer.png" width="720" height="10" alt="" /></p>
			<!-- ▼版權聲明 -->
			<address>&copy; 2011 Handmade Diary. All rights reserved.</address>
		</div>
	</div>
</body>
</html>