<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>交通方式｜Beauty Nail Salon</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_05">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Beauty Nail Salon" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">竹橋美甲沙龍</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01">
					<a href="index.html">首頁<br />
					<span>HOME</span></a>
				</li>
				<li id="navi_02">
					<a href="concept.html">店舖簡介<br />
					<span>SHOP</span></a>
				</li>
				<li id="navi_03">
					<a href="menu.html">療程簡介<br />
					<span>MENU</span></a>
				</li>
				<li id="navi_04">
					<a href="price.html">收費標準<br />
					<span>PRICE</span></a>
				</li>
				<li id="navi_05">
					<a href="access.html">交通方式<br />
					<span>ACCESS</span></a>
				</li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="title">
			<!-- ▼內容説明 -->
			<p class="copy">ACCESS</p>
			<!-- ▼內容標題 -->
			<h2>交通方式</h2>
		</div>
		<div id="access_text">
			<dl id="shop_info">
				<!-- ▼▼店舖資訊從此開始▼▼ -->
				<dt>店名</dt>
				<dd>Beauty Nail Salon</dd>
				<dt>TEL</dt>
				<dd>00-0000-0000</dd>
				<dt>FAX</dt>
				<dd>00-0000-0000</dd>
				<dt>E-Mail</dt>
				<dd>contact@xxxx.xxx</dd>
				<dt>住所</dt>
				<dd>〒100-0003<br />
				千代田區一之橋1-1-1</dd>
				<dt>營業時間</dt>
				<dd>10:00～20:00</dd>
				<dt>定休日</dt>
				<dd>星期三<br />
				如因故休息，將於News頁面<br />
				公告。</dd>
				<!-- ▲▲ショップ情報到此為止▲▲ -->
			</dl>
			<!-- ▼其他店舖資訊 -->
			<p>請透過電話進行預約與洽詢。<br />
			如您欲取消預約，請於前一天之前取消。<br />
			當日取消則必須收取1000元的手續費。</p>
		</div>
		<ul id="access_img">
			<!-- ▼▼交通地圖從此開始▼▼ -->
			<li><img src="img/access_01.jpg" alt="地圖" width="440" /></li>
			<li><img src="img/access_02.jpg" alt="内部" width="440" /></li>
			<!-- ▲▲交通地圖到此為止▲▲ -->
		</ul>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Beauty Nail Salon. All rights reserved.</address>
</body>
</html>
