<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>Beauty Nail Salon</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_01">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Beauty Nail Salon" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">竹橋美甲沙龍</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01">
					<a href="index.html">首頁<br />
					<span>HOME</span></a>
				</li>
				<li id="navi_02">
					<a href="concept.html">店舖簡介<br />
					<span>SHOP</span></a>
				</li>
				<li id="navi_03">
					<a href="menu.html">療程簡介<br />
					<span>MENU</span></a>
				</li>
				<li id="navi_04">
					<a href="price.html">收費標準<br />
					<span>PRICE</span></a>
				</li>
				<li id="navi_05">
					<a href="access.html">交通方式<br />
					<span>ACCESS</span></a>
				</li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="contents" class="clearfix">
			<div id="main_area">
				<!-- ▼主圖 -->
				<p id="main"><img src="img/main.jpg" width="600" height="330" alt="美甲照片" /></p>
				<!-- ▼概要文字 -->
				<p class="main_text">我們為事先預約的顧客準備了免費的指甲油。<br />
				為了方便第一次來店的客人，我們將先替客人進行指甲健康洽詢，歡迎您隨時來店詢問。</p>
				<!-- ▼主題標題 -->
				<h2>Topics</h2>
				<ul id="topics">
					<!-- ▼▼主題1從此開始▼▼ -->
					<li>
						<p><img src="img/topics_01.jpg" width="200" alt="指甲油" /></p>
						<div class="topics_text">
							<h3>指甲油</h3>
							<p>我們為事先預約的顧客準備了免費的指甲油。</p>
						</div>
					</li>
					<!-- ▲▲主題1到此為止▲▲ -->
					<!-- ▼▼主題2從此開始▼▼ -->
					<li>
						<p><img src="img/topics_02.jpg" width="200" alt="活動" /></p>
						<div class="topics_text">
							<h3>毎月活動</h3>
							<p>本店每月將提供季節限定的平價指甲彩繪服務。</p>
						</div>
					</li>
					<!-- ▲▲主題2到此為止▲▲ -->
					<!-- ▼▼主題3從此開始▼▼ -->
					<li>
						<p><img src="img/topics_03.jpg" width="200" alt="指甲健康洽詢" /></p>
						<div class="topics_text">
							<h3>指甲健康洽詢</h3>
							<p>第一次來店的客人，我們將先替客人進行指甲健康洽詢，歡迎您隨時來店詢問。</p>
						</div>
					</li>
					<!-- ▲▲主題3到此為止▲▲ -->
				</ul>
			</div>
			<div id="sub_area">
				<!-- ▼網站公告標題 -->
				<h2>News</h2>
				<dl id="info">
					<!-- ▼▼網站公告從此開始▼▼ -->
					<dt>2011.6/1</dt>
					<dd>6月的活動開始了。本月的活動將提供平價的夏季活力指甲彩繪。<br />
					<a href="#">夏季活動請見此處</a></dd>
					<dt>2011.5/26</dt>
					<dd>本店開始提供第一次來店的客人(每人一次)的來店禮。</dd>
					<dt>2011.5/26</dt>
					<dd>網站重新開幕了！<br />
					<a href="#">正在舉辦網站改版活動。</a></dd>
					<!-- ▲▲網站公告到此為止▲▲ -->
				</dl>
				<!-- ▼線上客服標題 -->
				<h2>Shop Info</h2>
				<dl id="tel_mail">
					<!-- ▼▼線上客服1從此開始▼▼ -->
					<dt>TEL</dt>
					<dd><strong>00-0000-0000</strong></dd>
					<dt>MAIL</dt>
					<dd>contact@xxxx.xxx</dd>
					<!-- ▲▲線上客服1到此為止▲▲ -->
				</dl>
				<dl id="address">
					<!-- ▼▼線上客服2從此開始▼▼ -->
					<dt>ADDRESS & ACCESS</dt>
					<dd>〒100-0003<br />
					千代田區一之橋1-1-1<br />
					毎日車站1號出口步行2分鐘<br />
					<a href="access.html">交通方式請點選此處</a></dd>
					<dt>OPENING HOURS</dt>
					<dd>星期一～六　 11點～21點<br />
					星期日・國定假日　 11點～19點30分</dd>
					<!-- ▲▲線上客服2到此為止▲▲ -->
				</dl>
			</div>
		</div>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Beauty Nail Salon. All rights reserved.</address>
</body>
</html>
