<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<!-- ▼頁面標題 -->
<title>療程簡介｜Beauty Nail Salon</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="components/css/default.css" rel="stylesheet" type="text/css" />
</head>

<body id="contents_03">
	<div id="wrap">
		<div id="header">
			<!-- ▼LOGO圖片 -->
			<h1><a href="index.html"><img src="img/logo.gif" alt="Beauty Nail Salon" /></a></h1>
			<!-- ▼文案 -->
			<p class="copy">竹橋美甲沙龍</p>
			<ul id="navi">
				<!-- ▼▼導覽列從此開始▼▼ -->
				<li id="navi_01">
					<a href="index.html">首頁<br />
					<span>HOME</span></a>
				</li>
				<li id="navi_02">
					<a href="concept.html">店舖簡介<br />
					<span>SHOP</span></a>
				</li>
				<li id="navi_03">
					<a href="menu.html">療程簡介<br />
					<span>MENU</span></a>
				</li>
				<li id="navi_04">
					<a href="price.html">收費標準<br />
					<span>PRICE</span></a>
				</li>
				<li id="navi_05">
					<a href="access.html">交通方式<br />
					<span>ACCESS</span></a>
				</li>
				<!-- ▲▲導覽列到此為止▲▲ -->
			</ul>
		</div>
		<div id="title">
			<!-- ▼內容說明 -->
			<p class="copy">MENU</p>
			<!-- ▼內容標題 -->
			<h2>療程簡介</h2>
		</div>
		<div id="contents" class="clearfix">
			<!-- ▼療程説明 -->
			<p class="head_text">常聽說指甲光療會傷指甲。光療可分成軟硬兩種<br />
			而使用硬式光療會先對指甲拋光，對指甲的傷害較大。<br />
			Beauty Nail Salon主要採用的是對指甲負擔較輕的軟式光療。</p>
			<ul id="menu_text">
				<!-- ▼▼療程1從此開始▼▼ -->
				<li>
					<h3>指甲彩繪</h3>
					<p class="text">指甲彩繪是在指甲裝上延長的假指甲。<br />
					而且完全看不出真假指甲之間的界線，建議指甲容易斷裂的您使用。<br />
					為了裝上假指甲，必須先拉直原本的指甲。</p>
				</li>
				<!-- ▲▲療程1到此為止▲▲ -->
				<!-- ▼▼療程2從此開始▼▼ -->
				<li>
					<h3>軟式光療</h3>
					<p class="text">可利用專門的溶液卸除的軟式光療。<br />
					對指甲的傷害較少，是極受歡迎的美甲服務。<br />
					我們準備了生化凝膠、健甲膠、嬰兒膠。<br />
					與指甲彩繪一樣，都必須先拉直原本的指甲。 </p>
				</li>
				<!-- ▲▲療程2到此為止▲▲ -->
				<!-- ▼▼療程3從此開始▼▼ -->
				<li>
					<h3>足部美甲</h3>
					<p class="text">夏天是特別有機會穿涼鞋的季節，因此請您留意您足部指甲的美觀。<br />
					不只是足部保養，還為您去角質<br />
					提供您一套完美療程。</p>
				</li>
				<!-- ▲▲療程3到此為止▲▲ -->
			</ul>
			<ul id="menu_img">
				<!-- ▼▼療程圖片從此開始▼▼ -->
				<li><img src="img/menu_01.jpg" width="200" alt="指甲彩繪" /></li>
				<li><img src="img/menu_02.jpg" width="200" alt="軟式光療" /></li>
				<li><img src="img/menu_03.jpg" width="200" alt="足部美甲" /></li>
				<!-- ▲▲療程圖片到此為止▲▲ -->
			</ul>
		</div>
	</div>
	<!-- ▼版權聲明 -->
	<address>&copy; 2011 Beauty Nail Salon. All rights reserved.</address>
</body>
</html>
